[2015-05-07 17:13] willettk opened #2 "Create initial plot for f_features vs redshift to measure zeta"

[2015-05-07 17:13] willettk opened #3 "Create plot of zeta vs. surface brightness for FERENGI galaxies"

[2015-05-08 14:58] karenlmasters opened #4 "Merge with other repository?"
I'm not so great at github (yet). How would we merge this/link this to the other repository from the work Kevin and I did in Taiwan?

[2015-05-08 17:06] willettk commented on #4
It's not hard to merge the content. Do we want everything from the Taiwan
repo? Alternatively, we could just move it over there and make it our
working group.

The main thing I don't like about the Taiwan repo is that it's private;
hard to remember who has access sometimes.

On Fri, May 8, 2015 at 9:58 AM karenlmasters notifications@github.com
wrote:

[2015-05-11 14:19] karenlmasters commented on #4
I think we should grab all of it.

[2015-05-11 22:07] willettk commented on #2
Closed with de58210fc7eec0c6d734718400021f5e8b45ecc5.

[2015-05-11 22:07] #2 closed, assigned to willettk

[2015-05-11 22:13] willettk commented on #3
de58210fc7eec0c6d734718400021f5e8b45ecc5 makes this plot. However, there only end up being 17 galaxies with well-measured zeta values at z=0.3. The correlation between surface brightness and zeta (we would have expected brighter galaxies to fall off less as a function of increasing simulated redshift) is basically non-existent, though.

possible fixes:
- different functional form (linear?) for par

[2015-05-11 22:27] willettk commented on #4
Added content with 46ed4c2ce6efb82962cd52f85822c144e884996c. We should be careful in the future not to add too many big datasets if possible (lots of image files or metadata, for example). Since Github remembers EVERYTHING that's ever committed, changing them tends to bloat the total size of the repository.

[2015-05-11 22:27] #4 closed, assigned to nobody

[2015-05-18 15:11] lfortson opened #6 "control for p_features in zeta vs mag plot"

[2015-05-18 15:21] bamford opened #7 "IPython notebook version"
When I open zeta.ipynb it warns me that the current version is v3, but if I save it will be in v4.   Just FYI!

[2015-05-18 15:27] willettk commented on #7
According to http://ipython.org/install.html, 4.0 is the dev version right now and 3.1 is the "stable" one, as of Apr 2015. Is there a compelling reason to update? I worry that the 4.0 version appears to not be backwards-compatible ... (https://github.com/QuantEcon/QuantEcon.site/issues/19)

[2015-05-18 16:22] bamford commented on #7
I've got a recently updated version of Anaconda, which includes IPython-3.1, but the ipython notebook saves in v4 notebooks.  I don't think the notebook versions track the IPython versions.

The incompatibility is definitely annoying!  I won't issue any pull requests that would overwrite your notebooks.

[2015-05-18 16:22] #7 closed, assigned to nobody

[2015-05-20 01:26] willettk commented on #3
Closed with 4630037077f1ef966be708b5a3bac272af4d4e9b.

[2015-05-20 01:26] #3 closed, assigned to willettk

[2015-07-16 15:37] willettk opened #13 "Add linear version of f_hat"
Apply linear version of f_hat to zeta function; examine which galaxies are the most strongly boosted (by eye and as function of mu, z).

[2015-07-16 15:44] willettk opened #14 "Table in writeup"
Add table to the writeup on fraction of GZH galaxies that:
- are single-valued and thus boostable
- are multi-valued and not boostable
- unknown, since FERENGI data did not cover that SB-z region

[2015-07-23 15:52] willettk opened #15 "Write Section 3.2 in paper draft: "approach to debiasing""

[2015-07-23 15:52] willettk opened #16 "Write Section 3.3 in paper draft: "results of debiasing""

[2015-07-29 20:14] willettk opened #17 "Horizontal bins for p_features,0.3 vs p_features,measured"
@karenlmasters pointed out that we really want bins that measure the spread in "debiased" vote fractions if we want to select galaxies in comparable true morphology ranges. These would be horizontal bins, but determined from the vertical bars. Need to change binning method to reflect this.

[2015-07-29 20:15] #17 closed, assigned to nobody

[2016-01-29 19:29] willettk opened #27 "Check signal to noise ratio in FERENGI images"
What is the average S/N in the FERENGI images? To what depth does that compare in GOODS?

Probably a question for Edmond Cheung to help with.

[2016-01-29 20:11] willettk opened #28 ""Imaging" column does not exist in the Hubble download table"
In Cell 7, the "Imaging" column doesn't exist in the version of the data currently on Dropbox. Causes notebook to crash.

[2016-01-29 21:36] willettk opened #29 "Last notebook takes ~6 hours to run"
This should speed it up to 15 minutes, and it can probably go faster. @Mel23, can you check to see if the output table matches that from your old code?

https://github.com/willettk/gzhubble/commit/b3b2f857ebc398989309a4d34e2a21f34721b5fb

[2016-01-31 08:39] karenlmasters commented on #27
Tom's probably the person to ask. He did the image analysis on the FERENGI output.

[2016-02-08 23:24] willettk opened #30 "Include the zooniverse_id in the data release"
It was correctly pointed out that users of the GZH site were accustomed to searching for galaxies by the first versions of a `zooniverse_id`. These had a format akin to AHZ1000001.

I don't think we've been including this in the latest versions of the collated catalogs, but it should be added before the end. I have a list to match `objid` to `zooniverse_id` when it's ready, but should likely be a

[2016-02-09 21:23] willettk commented on #29
Closed with eea6913d4c391ef76ce2aa44926946caaebd2178

[2016-02-09 21:23] #29 closed, assigned to Mel23

[2016-02-09 22:12] Mel23 commented on #28
Closed with ad44bafc8eaf9135010ad61fa6abc026b7202dea

[2016-02-09 22:12] #28 closed, assigned to Mel23

[2016-02-09 22:23] melaniebeck opened #32 "paragraph about redshifts"

[2016-02-09 22:23] willettk opened #33 "Add discussion of how redshifts are measured"
Paragraph in paper. Should include data from both GZH original and GOODS full-depth data.

[2016-02-10 17:41] Mel23 opened #34 "Goods redshift sources"
Update Dropbox/hubble_files/goodsfull_t01_z_mu.fits to include a column of redshift sources. Please comment with algorithm used for selecting source.

[2016-02-25 22:08] willettk commented on #34
We discovered:
- @willettk has a full set of spectroscopic and photometric redshifts combined from 3D-HST, MUSYC, and the ACS-GC.
- For some reason, the redshifts attached to the full-depth metadata only included ACS-GC photometric redshifts, though. That's an error, so it's very good that it was caught.
- @Mel23 has the full set of data and will apply the same redshift selection algorithm to make

[2016-02-27 00:21] Mel23 commented on #34
Closed with 0db3415e6689c2c84b4d07eff81bc625a4a3a22c

[2016-02-27 00:21] #34 closed, assigned to willettk

[2016-02-27 00:55] willettk commented on #34
Great!

[2016-03-01 21:10] Mel23 commented on #33
Closed with c7a2c0fdd7da3d7f68b13d2fcdd4c65bbdc9dea0

[2016-03-01 21:10] #33 closed, assigned to Mel23

[2016-03-01 21:10] Mel23 commented on #32
Closed with c7a2c0fdd7da3d7f68b13d2fcdd4c65bbdc9dea0

[2016-03-01 21:10] #32 closed, assigned to nobody

[2016-03-23 23:26] willettk commented on #30
Closed with ae707fcea2529b4d95cfdaad26e3a424b4f7c9b9.

[2016-03-23 23:26] #30 closed, assigned to nobody

[2016-03-23 23:29] willettk commented on #14
Full tables (both FITS files and examples in writeup) now are identified by `correctable_category`.

[2016-03-23 23:29] #14 closed, assigned to Mel23

[2016-03-23 23:30] willettk commented on #13
Sticking with the exponential version of f_hat for the paper. There wasn't a strong dependence on it in any case.

[2016-03-23 23:30] #13 closed, assigned to Mel23

[2016-03-24 21:51] willettk opened #37 "Change "Griffith" to "ACS-GC" in the tables"
While I know that is our shorthand, we should refer to it by the survey name, not the author (same as we do for the other tables). I've changed it in the text - @Mel23, can you do the same for the relevant columns in the data tables?

[2016-03-25 21:52] Mel23 commented on #37
Done! All metadata tables are now in Dropbox, there are 5:

meta_catalog_3_23_2016_hubble.fits
-AEGIS, COSMOS, GEMS data
-contains all Griffith et al. metadata columns + image url + our Z_BEST, Z_BEST_TYPE, and Z_BEST SOURCE data

meta_catalog_3_23_2016_goods_shallow.fits
-GOODS shallow data
-contains all Griffith et al. metadata columns + image url + our Z_BEST, Z_BEST_TYPE, and Z_BEST SOURCE dat

[2016-03-25 21:52] #37 closed, assigned to Mel23

[2016-03-28 04:46] willettk commented on #37
Is it possible to merge the `_hubble` and `_goods_full` metadata tables?
The morphology annotations are merged in the paper already.

On Fri, Mar 25, 2016 at 4:52 PM Mel23 notifications@github.com wrote:

[2016-03-28 04:50] Mel23 commented on #37
Replying via email because mobile:

I could but it depends on which would be less confusing; yes they have the
same morphological data, but we don't have the same Metadata (hubble has
all the info Griffith offers; only a small subset of that is currently
known for the full depth sample. )
On Mar 27, 2016 23:46, "Kyle Willett" notifications@github.com wrote:

[2016-03-28 04:58] willettk commented on #37
OK. Probably fine, at least for now.

On Sun, Mar 27, 2016 at 11:50 PM Mel23 notifications@github.com wrote:

[2016-04-14 18:57] willettk opened #40 "User weighting"
Is the distribution of user weighting similar to that in GZ1 and/or GZ2? I don't think we need a detailed analysis, but a sentence or two would be useful.

[2016-04-15 16:00] bamford commented on #40
Here are the same(ish) plots from **GZ2**:
![user_consistency_gz2](https://cloud.githubusercontent.com/assets/219174/14563362/6df37bc4-0319-11e6-9e63-03b0975f6217.png)
and **GZ:HST**:
![user_consistency_gzhst](https://cloud.githubusercontent.com/assets/219174/14563396/a3bc5a6e-0319-11e6-804a-a76b9d2820b6.png)
I can't remember why the consistency scales are different, but the effect is the same: th

[2016-04-15 21:24] #40 closed, assigned to bamford

[2016-04-15 21:24] willettk commented on #40
Excellent - that's the extent of what I needed for now. Thanks, @bamford!

[2016-04-26 19:05] Mel23 opened #42 "Revise Decision Tree Figure so Task numbers match those in catalog"
Currently Figure 4 in the paper. The Task numbers are not the same as those in the gzh catalog column labels.

Was Coleman the creator of this image, or does anyone else have the code?

[2016-04-26 19:07] willettk commented on #42
@ckrawczyk made it; you might be able to change the labels if you made a
branch and played with
https://github.com/zooniverse/data.galaxyzoo.org/tree/master/public/gz_trees

On Tue, Apr 26, 2016 at 2:05 PM Mel23 notifications@github.com wrote:

[2016-04-26 19:12] Mel23 commented on #42
I've never worked in Java, is anyone else able to tackle this one?

On Tue, Apr 26, 2016 at 2:07 PM, Kyle Willett notifications@github.com
wrote:

[2016-04-26 19:18] willettk commented on #42
Java != Javascript

[2016-04-26 19:21] Mel23 commented on #42
Okay, comment still stands - I'm not familiar with the filetype. Help!

On Tue, Apr 26, 2016 at 2:18 PM, Kyle Willett notifications@github.com
wrote:

[2016-04-26 19:25] vrooje commented on #42
What do the labels need to be? Illustrator may come to the rescue here &
I'm sitting at this conference...

On Tue, Apr 26, 2016 at 3:12 PM, Mel23 notifications@github.com wrote:

[2016-04-26 19:28] Mel23 commented on #42
I'll link a list shortly

On Tue, Apr 26, 2016 at 2:25 PM, Brooke Simmons notifications@github.com
wrote:

[2016-04-26 19:33] Mel23 commented on #42
These are the columns numbered as they'll be in the final catalog. If this
is easy for you to execute Brooke, thank you! Otherwise I'm sure I can
figure it out, it just wouldn't be super quick.

t01_smooth_or_features
t02_edgeon
t03_bar
t04_spiral
t05_bulge_prominence
t06_odd
t07_rounded
t08_odd_feature
t09_bulge_shape
t10_arms_winding
t11_arms_number
t12_clumpy
t13_bright_clump
t14_bright_clump_c

[2016-04-26 20:05] vrooje commented on #42
[gzh_decision_tree.pdf](https://github.com/willettk/gzhubble/files/237391/gzh_decision_tree.pdf)

Like this?
(I'm not sure I trust the conference wifi to pull, branch, push, pull request)

[2016-04-26 20:06] vrooje commented on #42
Also: are the response A# numbers single-indexed too? I haven't changed that...

[2016-04-26 20:15] Mel23 commented on #42
Ahh you are correct - sorry for not catching that before. The answer
numbers are changed slightly....

t01_smooth_or_features_a01_smooth_fraction
t01_smooth_or_features_a02_features_or_disk_fraction
t01_smooth_or_features_a03_star_or_artifact_fraction
t02_edgeon_a01_yes_fraction
t02_edgeon_a02_no_fraction
t03_bar_a01_bar_fraction
t03_bar_a02_no_bar_fraction
t04_spiral_a01_spiral_fraction
t04_spira

[2016-04-26 20:25] willettk commented on #42
Does single-indexed mean zero-padded, or something different?

On Tue, Apr 26, 2016 at 3:15 PM Mel23 notifications@github.com wrote:

[2016-04-26 20:51] vrooje commented on #42
single-indexed, i.e. start counting from 1. Sorry for shorthand.
[gzh_decision_tree.pdf](https://github.com/willettk/gzhubble/files/237476/gzh_decision_tree.pdf)

Better? Definitely double-check every single item :)

Also, I had to switch the order of clump arrangement answers in vrooje/gzcandels_datapaper#50 in the same way, so this may be a bug in the tree generation code.

[2016-04-26 20:59] Mel23 commented on #42
Double checked - only 1 error found! Task 13 - bright_clump_yes should be
a01, bright_clump_no should be a02

Also - is there an easy way to generate a cropped pdf for putting in the
paper? Or remove the date, page number, link, and 'redirecting' title from
the output?

On Tue, Apr 26, 2016 at 3:51 PM, Brooke Simmons notifications@github.com
wrote:

[2016-04-26 21:03] vrooje commented on #42
[gzh_decision_tree.pdf](https://github.com/willettk/gzhubble/files/237505/gzh_decision_tree.pdf)

Oh! Hah, I was so zoomed-in I didn't even see the header and footer. Should now be gone, and also cropped more closely. Answer order changed!

[2016-04-26 21:05] Mel23 commented on #42
You rock, thank you! I hope this kept you entertained at your conference.

On Tue, Apr 26, 2016 at 4:03 PM, Brooke Simmons notifications@github.com
wrote:

[2016-04-26 21:07] vrooje commented on #42
It always tickles me that I can edit a PDF or EPS directly like this :)

(it's actually a really good conference but this is just so much easier in Illustrator and I couldn't watch you go through learning Javascript if I could help...)

[2016-04-27 08:50] CKrawczyk commented on #42
For future reference these values are here in the code: https://github.com/zooniverse/data.galaxyzoo.org/blob/master/public/gz_trees/config/gz3_tree.json

Changing the `name` or `question` value in the `nodes` list will do this.  The PDFs were made by using the browsers "print to PDF" feature (the navigation buttons don't show up in the print by default).  Changing the positions of the answers tak

[2016-04-27 17:55] willettk opened #46 "Lintott - suggested checks of the zeta method"
Old suggestions from @chrislintott (Jul 2015 telecon), noted here for completeness:
- Plot zeta as a function of color to examine what effect that has on the boosting
- Look at the galaxies getting significantly boosted. What did the CANDELS team (GOODS) in Jeyhan's catalog say about those? Are they really marginal disks?
- What is the evolution of the cutoff p_features-mu point as a function of r

[2016-04-27 19:28] willettk commented on #42
Closed with #43.

[2016-04-27 19:28] #42 closed, assigned to nobody

[2016-04-27 19:36] Mel23 opened #47 "Text in Section"
- [x] Task 1
  Calculate average % of correctable ferengi galaxies for all tasks to justify why we are unable to offer debiased values for these
- [x] Task 2
  Evaluate corrected values, show images of corrected galaxies
  3 categories: spirals w/ no correction, big correction for 3 types (correctable, lower-limit, NEI)

[2016-04-27 19:36] Mel23 opened #48 "Change 'uncorrectable' sample to 'lower limit' sample everywhere in text, tables."

[2016-04-28 20:14] willettk opened #50 "Revise Figure 8"
Change the grid to a 2-D histogram contour of the FERENGI galaxies, increase label size, and add a paragraph of explanation to 4.1.

[2016-04-29 06:03] willettk opened #53 "Detailed description of the table structure"
This should likely be in the repo as an accompaniment to the paper, but won't be in the actual manuscript.

[2016-04-29 14:03] willettk opened #54 "Is GZH consistent with GZ:CANDELS?"
Question for both @vrooje and @willettk to attack, for those galaxies that have classifications in both. It'd be very useful to show that we're at least (hopefully) _internally_ consistent with the GZ vote fractions.

[2016-04-29 16:00] willettk commented on #15
Essentially closed with a number of different commits, including 30978e476703d0cd97911fcbc0bced1756811cf3.

[2016-04-29 16:00] #15 closed, assigned to willettk

[2016-04-29 16:01] #16 closed, assigned to Mel23

[2016-04-29 16:14] #48 closed, assigned to nobody

[2016-04-30 04:30] vrooje commented on #54
Agreed, or in fact to show that there may be interesting cases where the
classification differs at different wavelengths. What do you need from me?

On Fri, Apr 29, 2016 at 7:03 AM, Kyle Willett notifications@github.com
wrote:

[2016-04-30 23:46] willettk commented on #54
Expertise and input, I suppose - I have the data tables from your paper already.

What do you think of this Simmons-style plot? This is for the 7,681 galaxies in both GZH and GZC. Most interested to hear what you think about p_features (shown on the top row, measured in three ways: raw vote fraction, weighted vote fraction, and GZH debiased vs GZC weighted). Three other metrics similar to Fig 7 in

[2016-05-01 05:22] vrooje commented on #54
I don't understand the blue lines in the figures. If they're the averages binned by GZH why don't they span the whole y-axis range in each figure, and why don't they go through the main locus of points in the top row especially?

Really curious to know what redshifts these are as well -- if they're in the regime where GZH is sampling mostly UV and GZC is sampling entirely optical then it wouldn't

[2016-05-01 23:53] willettk commented on #54
It's very possible I accidentally haven't computed averaging over the bins in the correct manner (or at least in the same way that you did). Maybe you could help me figure out how - I didn't find your code on the repo, so couldn't exactly replicate it. What I tried was (in pseudo-code):

[code]

Full code: https://github.com/willettk/gzhubble/blob/candels/python/gzh_gzc.py

[2016-05-02 22:09] vrooje commented on #54
Shouldn't it be:

[code]

Or maybe the other one is flipped... sorry, just reading quickly, but that does look like what I did apart from that.

[2016-05-05 17:13] willettk commented on #47
Closed with b12c67ff5d1d9370516bccdd2db90913adde3ab6.

[2016-05-05 17:13] #47 closed, assigned to Mel23

[2016-05-05 17:18] willettk opened #58 "Use z_sim instead of z for FERENGI galaxies"
Closed with c81bab7d6b61d879181736a5a128d32469a3840a

[2016-05-05 19:19] willettk commented on #50
Closed with 326f68a67fb2a04f7b0209593909bc95e1d26d07.

[2016-05-05 19:19] #50 closed, assigned to Mel23

[2016-05-05 20:35] willettk commented on #6
I'm not sure what this referred to, originally. @lfortson - can you provide any more context?

[2016-05-05 21:09] willettk commented on #46
Regarding point 2: we matched GZH against Kartaltepe+15, Table 3. We looked at galaxies in the correctable sample with p_features,raw < 0.2 and p_features,best > 0.5 (so galaxies getting significantly boosted from smooth to disks). K15 only have eight such galaxies in their sample. Of those, they classify:
- 5 as spheroids
- 2 disks
-  1 irregular/disk

Visual inspection of the ACS images shows al

[2016-05-05 21:20] vrooje commented on #46
Did any of the K15 galaxies get marked in that catalog as having a morphological K-correction (one of the bands having a significantly different morphology than H... usually the ACS band)?

[2016-05-05 21:26] #46 closed, assigned to nobody

[2016-05-05 21:41] willettk opened #62 "Fix Table 1 for GOODS depths"

[2016-05-05 21:46] willettk opened #63 "Fix Figure 6"
Uses old zeta values, must decide on evolution correction.

[2016-05-06 00:58] willettk commented on #46
Do you know what that column would be named in K15, by any chance?

On Thu, May 5, 2016 at 4:20 PM Brooke Simmons notifications@github.com
wrote:

[2016-05-06 02:09] vrooje commented on #46
It's 3 columns: f_?diff where ? is V, z, or J. From looking at the catalogs most of the things with really high values of one or more of those appear to be dropouts.

[2016-05-06 02:12] willettk commented on #46
Don't see that in this catalog - there's f_Flag?_ with V, z, and J ...

On Thu, May 5, 2016 at 9:09 PM Brooke Simmons notifications@github.com
wrote:

[2016-05-06 02:25] vrooje commented on #46
Hmm, maybe it changed names between the team version and the public version? It's columns 23-25 in the catalog I have...

[2016-05-06 03:55] willettk commented on #62
Closed with 80fe266.

[2016-05-06 03:55] #62 closed, assigned to Mel23

[2016-05-06 03:55] willettk commented on #63
Closed with 80fe266.

[2016-05-06 03:55] #63 closed, assigned to nobody

[2016-05-06 13:43] #58 closed, assigned to nobody

[2016-05-06 13:45] Mel23 opened #65 "Edit Figure 10"
Left: T02: clumpy? should be T12. Double check for any other typos.

[2016-05-06 19:35] #65 closed, assigned to nobody

[2016-05-06 20:04] willettk commented on #54
Exactly so, thanks. Here's the correct version (now actually tracing the joint distribution):

![gzh_gzc](https://cloud.githubusercontent.com/assets/2285931/15084823/b6b69606-139b-11e6-966e-b058b350f030.png)

Interesting that there's no real change in the average GZH features votes except in the highest p_features bin.

[2016-05-06 20:09] vrooje commented on #54
Small numbers? On the first GZC question there were so many "star or artifact" votes per galaxy (distracted by noise, I expect) that it's really rare to have p_feat-gzc-raw > 0.8.

Suggest coarser bins for the merger question?

[2016-05-06 20:11] vrooje commented on #54
Also, I think our error bars are different -- the error bars in the GZC paper's Figures 7 & 8 enclose the middle 68% of data in each bin, which I'd expect to be a bit more asymmetric in a couple of the panels above...

[2016-05-06 20:41] willettk opened #66 "Consistent use of p_features vs f_features"

[2016-05-06 21:04] vrooje commented on #66
I'm terrible at this myself but in print I use f_\* so that people don't assume we're talking about probabilities... or at least it's up to them to make that active choice.

[2016-05-08 22:43] willettk commented on #66
Let's settle on `f_`, at least for the GZH paper. Will need to redo Figures 9, 10, 12, and all the Appendices.

[2016-05-09 00:14] willettk commented on #66
I think I need help from @Mel23 for the final couple changes. Can you just change `p_features` -> `f_features` for Figure 9 and the ones in the Appendix? I don't see where those are made in the existing notebooks.

[2016-05-09 04:03] willettk commented on #66
Closed with #67.

[2016-05-09 04:03] #66 closed, assigned to Mel23

[2016-05-09 17:08] willettk opened #68 "Discuss Cheung et al."
Edmond's 2015 paper should be mentioned in more detail; it and Melvin+14 are the only published results from the early GZH data.

[2016-05-09 17:10] willettk opened #69 "Finalize affiliations and author list"
- [x] Affiliations
- [x] Author order
- [x] Grant acknowledgments
- [x] Survey or facilities

[2016-05-09 23:40] willettk commented on #54
Coarser bins in `p_merger` and 68% median errorbars:

![gzh_gzc](https://cloud.githubusercontent.com/assets/2285931/15131442/87f0e412-1615-11e6-86f0-de785f6e1d8a.png)

[2016-05-11 00:51] vrooje commented on #54
👍

So, reading left to right and top to bottom for panels abcdef:

a) raw classifications agree pretty well but i) features are more likely to be picked up in rest-frame bluer colors and/or higher-resolution images, and ii) the GZC raw votes have very few f_feat > 0.8 galaxies.
b) even once the classifications are weighted the effect in ii) above may go away, but resolution and rest-frame colors s

[2016-05-11 01:32] willettk commented on #54
It's actually not in the paper yet. Although I think that's one of
@chrislintott's main suggestions.

[2016-05-11 15:27] chrislintott opened #70 "Rewrite section 4.1"
Section 4.1 and table 2 are very confusing.

In particular:

'For each of the four target redshifts...the images were redshifted in delta z=0.1 bins up to z_sim=1'

I think this means that there were four target redshifts and for each galaxy we then shifted to 0.1, 0.2, 0.3 etc. It is therefore mystifying that there are more images (and higher N_zbins in the table) for the more distant target reds

[2016-05-11 15:31] chrislintott commented on #54
Indeed. By the way 'I didn't find your code on the repo' is beautifully subtle snark. Shame, @vrooje, shame.

[2016-05-11 15:36] Mel23 commented on #70
I'm in favor of revising this section for those reasons... The 'target'
FERENGI redshifts are basically the lowest redshift attainable for the
image. Since we only use data from those galaxies with z_target = 0.3, I'm
not convinced it's worth mentioning the other data exists. Going into
detail of the original sample selection methods for FERENGI is technically
more complete, but I think we sacrifi

[2016-05-11 15:36] chrislintott opened #71 "Distinguish calibration and bias."
I think it's really important to distinguish the following things:
1. Calibration or consensus - combining classification to produce a consensus (e.g. Willett et al for GZ2)
2. Bias - the tendency of faint, distant or small galaxies to appear featureless

If we distinguish them, then it's clearer that 1 is a crowdsourcing problem and 2 is a problem affecting all classifications to some degree. I'm

[2016-05-11 15:42] willettk commented on #54
(@willettk frantically pushes #72 into master so that he practices what he preaches)

[2016-05-11 15:43] chrislintott opened #73 "Distinguish different samples"
Section 2 starts off well - I like the descriptions of the surveys. But by the time we're into Sloan, and then into 5-epoch GOODS sets and then COSMOS pseduocolour the reader will likely have lost track of which dataset is which. I suggest that we make section 2.2 a list of datasets with shorthand names for each whcih can then be used throughout the paper. (The content in 2.3 could go here too so

[2016-05-11 16:07] chrislintott opened #74 "Find a permalink to the current GZ version"
Which is referred to in a footnote.

[2016-05-11 16:08] chrislintott commented on #74
Feel free to assign to Adam.

[2016-05-11 16:09] chrislintott opened #75 "Increase size of Figure 9"
(a) and particularly (c) are too small to be usable.

[2016-05-11 16:12] willettk commented on #74
Is this with an eye toward GZ moving to Panoptes in the future?

[2016-05-11 16:13] chrislintott opened #76 "Consider adding flags"
I think we should consider adding flags at least for featured/smooth in table 5 - they've been useful in prior data releases.

[2016-05-11 16:14] chrislintott commented on #74
Just at some point it will change, and you want a link that refers as long as possible to the thing you're referring to.

[2016-05-11 16:16] chrislintott opened #77 "Neglect dust lanes/lenses from f_odd when comparing to other galaxies"
In general I'm in favour of the approach of making comparisons with other classifications in broad categories, and I think sec. 7.2 lays that out well. But galaxies can end up with high f_odd for having dust lanes, or being host to lenses. In these cases, I think we'd still consider them in the other categories, and so I suggest dropping these from the definition of f_odd used here.

It won't matt

[2016-05-11 16:17] willettk commented on #74
Always true. My dream for that would be a permalink for each of the various datasets that we've put into GZ4 over the past couple of years, eg:

[code]

I've no good concept for how much work that'll be, though.

[2016-05-11 16:19] chrislintott opened #78 "Improve discussion of figure 12"
I don't think we're going to be able to say that our comparison with other classifications is 'interesting' and then show in the figure that with a few exceptions (Bundy, maybe Scarlata) f_features doesn't correlate with what other people call spirals.

We either need to come out and say that our classifications seem right or not. What do, for example, galaxies with Lotz or Boris have as spiral wi

[2016-05-11 16:24] chrislintott commented on #74
Talk to Adam...

[2016-05-11 16:28] willettk commented on #74
True. Should be relevant for @vrooje's paper as well.

[2016-05-11 16:31] willettk commented on #74
@astopy - The GZ team is submitting a couple of papers soon referencing versions of the current Ouroboros the site. We'd like to include a permalink (or as close as possible), similar to zoo2.galaxyzoo.org or zoo3.galaxyzoo.org, and not link to future versions of the main site. In an ideal situation, we might have permalinks for different datasets and a few dozen subjects active.

Could you commen

[2016-05-11 17:32] vrooje commented on #71
Agreed it's definitely worth stating explicitly that bias is a problem affecting automated classifications too, and one that often goes uncorrected...

[2016-05-11 20:26] vrooje commented on #74
The GZC paper links to zoo4.galaxyzoo.org, which appears to work...

[2016-05-12 10:16] chrislintott opened #79 "Is it worth flagging those galaxies with contradicting spec-z?"
As per sec 2.5, it's less than 2% of the sample but they might be distinctly odd in some figures that people will make, if their distances are very wrong.

[2016-05-12 10:17] chrislintott opened #80 "Add reference to Land et al?"
In sec 3.1 you refer to Willett et al for the user weighting scheme, but this was first introduced by Kate and we should probably site her too.

[2016-05-12 10:19] chrislintott opened #81 "Treatment of anon users"
Does it make sense to lump all of these classifications together and give the average anonymous user a weight? My guess is they would appear in the middle of the pack, so this wouldn't matter too much but it'd be good to know what the weight would be. (It would be interesting if anonymous users are worse...)

[2016-05-12 10:22] chrislintott opened #82 "Distraction bias?"
Is distraction bias relevant when the galaxy is centered? I'm not at all convinced, and would remove this reference.

[2016-05-12 13:43] karenlmasters commented on #82
I would say it is relevant... but I've probably read less about it than Chris.

[2016-05-12 13:45] karenlmasters commented on #69
Need to acknowledges Tom's PhD funding from STFC. "TM acknowledges funding from the Science and Tech- nology Facilities Council ST/J500665/1."

[2016-05-12 13:48] karenlmasters opened #83 "Can I re-write abstract?"
My suggestion (although Q - is it really the largest... I think it is):

"We present the data release paper for the Galaxy Zoo: Hubble (GZH) project. This is the third phase in the Galaxy Zoo effort to measure reliable morphologies of galaxies by using crowd-sourced visual classifications. The color-composite images used in GZH are selected from various Hubble Space Telescope Legacy programs using

[2016-05-12 13:48] willettk commented on #82
I'm conjecturing that there's an effect, but Chris is right that we've never quantified what it would be for images in Galaxy Zoo. The Andromeda Project reference is a more specific case. There's a good research project in that for a student, I'd imagine.

[2016-05-12 13:50] karenlmasters commented on #71
I would really like us to use the term "redshift bias" rather than "morphological bias" so that we are making sure to point out this is not about the classifiers, but a feature of the actual image of the galaxy.

[2016-05-12 13:58] karenlmasters opened #84 "Comments on Intro"
- [x] ellipticals are not the only early-types:  "bulge-dominated, virialized systems resembling ellipticals (early-types)"  -> "bulge-dominated systems with no/little spiral structure (early-types)" (early-type is sometimes even Sa/S0/E I recently realised - e.g. in Strateva et al. 2001 that's the definition - they even have red spirals.....).
- [x] disk-dominated, rotationally-supported disks (l

[2016-05-12 13:59] karenlmasters commented on #69
Should Bill be on this?

[2016-05-12 14:01] karenlmasters opened #85 "Acknowledge Coleman for Fig 3?"
Think we should mention Coleman in acknowledgements for Fig 3?

[2016-05-12 14:02] karenlmasters opened #86 "Do we need Fig 2"
I think it's a waste of space if the web has a perma link... but could be persuaded.

[2016-05-12 14:06] karenlmasters opened #87 "Figure 5 - made by Nuffield student?"
Is Figure 5 the version from Tom's thesis made by our 2015 Nuffield Student. If so his name was Joe Hind, and maybe acknowledgement? If not never mind...

[2016-05-12 15:04] bamford commented on #84
Would be nice to cite a more general and inclusive review than C14.
- [x] Is r propto (1+z)^-1 from Mao, Mo & White (http://adsabs.harvard.edu/abs/1998MNRAS.297L..71M)

This checklist approach looks like better than trying to edit directly (https://github.com/willettk/gzhubble/pull/88).  What do you prefer @willettk?

[2016-05-12 15:13] bamford commented on #83
I suggest "and numerous measurements of" --> "as well as", since with don't measure "identification".

[2016-05-12 15:35] bamford opened #89 "Steven's comments on section 2"
- [x] Sec 2.1, before bulleted list: "The properties of the individual surveys are as follows."
- [x] There is a bit of inconsistency between table 1, figure 1 and the text of 2.3 regarding the GOODS bands, e.g. fig1 shows F850LP for GOODS-S shallow, but not deep; text says F850LP used for red band in GOODS deep; table 1 doesn't include F814W in list for GOODS.
- [x] Table 1 could specify the appr

[2016-05-12 16:11] bamford commented on #89
- [ ] If included in data release, need to mention faded and recoloured COSMOS images.

From the ancient but venerable http://plan.zooniverse.org/projects/galaxyzoosci/wiki/Galaxy_Zoo_Hubble:

[2016-05-12 18:30] karenlmasters commented on #84
(sorry about the title from Bell et al. 2012 which looks very shouty now I re-read it - was just copy paste!).

I'd like to echo @bamford question - is this better than direct edit? I thought perhaps direct edit might get confusing as this point.... @willettk

[2016-05-12 19:30] vrooje commented on #81
You'd probably want to make sure you removed the obvious bots first...

But we effectively did this by accident during Pulsar Hunters. A bug in the way IP addresses were being reported meant it looked like we had <5 anonymous users, each of which had done classifications at super-human speed and had really very high weightings. The weightings were on par with an experienced user, if I recall corre

[2016-05-12 19:52] vrooje commented on #54
That's because my code was in a different repo!

(@vrooje frantically moves it to the paper repo and pushes it)

[2016-05-12 22:06] vrooje opened #91 "Some filters are incorrect in Figure 1"
GEMS, GOODS-S (top right panel): F850LP isn't shaped like that.
http://svo2.cab.inta-csic.es/svo/theory/fps3/index.php?id=HST/ACS_WFC.F850LP_81&&mode=browse&gname=HST&gname2=ACS_WFC#filter

Deep GOODS-N, -S (lower center): figure has F814W instead of F850LP.

Also, verify that shallow GOODS-N (top left) uses F775W instead of F850LP?

[2016-05-12 22:07] vrooje opened #92 "F850LP is meant to reproduce SDSS z, not I"
$I_{850LP}$ --> $z_{850LP}$

[2016-05-12 22:08] vrooje commented on #82
I noted it in the GZC paper -- there are cases where the central galaxy is a faint, fuzzy blob and there's a whopping spiral nearby, which significantly skews the vote fractions even after weighting.

[2016-05-12 22:21] vrooje commented on #82
(Note, I didn't cite Johnson et al. 2015 when discussing distraction bias because I thought I remembered that @lcjohnso didn't end up discussing it in that paper.)

[2016-05-12 22:33] vrooje commented on #82
Example: this subject has a weighted f_spiral = 0.93, out of 32 votes (31.4 weighted votes):

![UDS_7657](http://www.galaxyzoo.org.s3.amazonaws.com/subjects/standard/UDS_7657.jpg)

These examples are rare but clear.

[2016-05-13 01:04] vrooje opened #93 "consistent term usage"
I notice that both "user" and "classifier" are used in the paper, it seems interchangeably so. Should it just be one term?

I haven't noticed other examples yet, but if I do I'll add them...

[2016-05-13 08:57] bamford commented on #81
Remember the weights for 95% of users are = 1.  Only the poorest 5% are down-weighted.  So the anon users would have a weight of 1.  Maybe best to say "they receive the same unit weighting as the vast majority of logged-in classifiers", rather than "no weighting is applied".

[2016-05-13 09:04] bamford commented on #91
Maybe the plot is showing the filter transmission curves, rather than the whole system efficiency (which is the more important quantity)?  I think in SDSS (at least) the z-band red cutoff is due to CCD efficiency, rather than the filter itself (hence why it is so gradual).

[2016-05-13 13:16] chrislintott commented on #93
Classifier or volunteer please.

[2016-05-13 13:27] willettk commented on #78
Suggestions from telecon on 13 May 2016
- [x] Split by technique (expert vs Sersic vs machine learning)
- [x] Make a volume and/or luminosity-limited split
- [x] Check with @claudiascarlata on appropriate limits for COSMOS
- [x] Remove f_dust, f_lens from f_odd (#77)

[2016-05-13 13:40] chrislintott commented on #86
We do. Journals are ~for ever and GZ is probably not.

[2016-05-13 14:47] willettk opened #94 "Summary/checklist of issues in 13 May telecon"
- [x] Need to add some interpretation of Figure 12 - comparison with other surveys.
- [ ] @karenlmasters: a little bit of this in @melvin6100 thesis, worth having a look at that work which has been done.
- [x] @claudiascarlata: M<23.5 only should be used, z<1 also.
- [x] @chrislintott: we should split parametric techniques and expert classifications.
- [ ] @karenlmasters: look at Sheth bar IDs.
-

[2016-05-13 14:54] adammcmaster commented on #74
zoo4.galaxyzoo.org is actually a completely separate copy of the site which doesn’t seem to have been deployed since July 10, 2014. You can probably just use that URL, but we’ll want to figure out how to keep it updated whenever the main site is deployed. We can probably just modify the deploy script to upload everything to both places.

[2016-05-13 14:56] willettk commented on #74
Thanks. That should be just fine for the purposes of this paper. In that case, there will be a strong case for keeping that URL active (with some version of the site) as long as possible, even when moving on to Panoptes some day.

[2016-05-13 16:27] bamford commented on #94
In case it is useful, what I said was:
http://stackoverflow.com/a/10037780/1840212
with a pinch of:
http://www.nickcoding.com/2014/10/30/making-git-prose-friendly/

[2016-05-13 16:29] bamford commented on #94
... but I think issues with task lists seem easier to manage.

[2016-05-14 02:48] vrooje opened #95 "Section 2 reorganization?"
Related to #73 but I don't think there's too much overlap with #89.

I think S2 could use a bit of restructuring. Specifically:
- [x] Section 2 should have an intro paragraph saying that there are 3 kinds of images: HST-ACS, SDSS, and HST images simulated from real galaxies. Preferably there'd be final sample numbers here or in a summary paragraph at the end of the section.
- [x] Each of these sho

[2016-05-14 02:51] vrooje opened #96 "Switch the order of Sections 3.1 and 3.2"
The details of user weighting shouldn't come before we've described the interface or defined what counts as a classification.

(Feel free to assign me!)

[2016-05-14 02:54] vrooje opened #97 "Section 3.2 (interface and classification tree) in past tense?"
Given that the GZH site is no longer active, it feels like the section should start with "Classifications for GZH **were** made using a web-based interface (Figure 2)" instead of "are", and use past tense throughout when describing the interface and the process of making a classification (unless it's a general description of Galaxy Zoo).

[2016-05-14 03:10] vrooje opened #98 "Remove justification for using 2-epoch GOODS data"
Section 2.3, the paragraph after equation 1, starts with:

The "majority" is later described to include the 2-epoch GOODS-N and GOODS-S data. But that's not the case. The v1 GOODS data release in 2003 included stacked images of all 4 bands, and followed the v0.5 release that included individual epochs in _BVIz_ (which would have been trivial to stack into 2-epoch images). Version 2 was released in

[2016-05-14 03:14] vrooje opened #99 "Section 2.4: daophot vs TinyTim needs clarification"
both versions used deeper imaging, because I was new to the team and didn't know about the 2-epoch GOODS thing (but we included the original galaxies too, so it's okay, and I think those are our only examples of full-depth 2-filter GOODS images), and also TinyTim PSFs aren't unambiguously better than daophot, so this needs clarifying.

Assign me - happy to submit a PR (just holding off right now b

[2016-05-14 03:16] vrooje opened #100 "Section 2.4, last paragraph - clarify access to simulation flag post-classification"
After classifying the volunteers could visit the GZ Examine page and see that the galaxy image had been modified to add an AGN.

I'm happy to be assigned this to clarify.

[2016-05-14 03:19] vrooje opened #101 "Last paragraph of S3: GZC --> GZ4"
Not just CANDELS -- it would be more accurate to say it was GZ4, which included multiple data sets.

[2016-05-14 03:24] vrooje opened #102 "Section 4.3: explicitly explain why it's called the "lower limit sample""
In paragraph 4:

Should be something like,

This is a long paper with a ton of information in it so I think we should make stuff like that really obvious to the skimming reader.

[2016-05-14 03:28] vrooje opened #103 "Figure 7: clarify "37 galaxies""
It's 37 SDSS galaxies that were redshifted to N galaxy images. The caption currently makes it seem to the first-time reader like each of the data points is only 1 classified galaxy image.

Suggest changing the last sentence to something like:

[2016-05-15 17:53] willettk commented on #91
These should be the total throughput of the system -- ratio (fraction, really) of photons vs. photo-detected electrons on the CCD. The data I used for this are from the horse's mouth, I would have thought: http://www.stsci.edu/hst/acs/analysis/throughputs/tables

and plotted with https://github.com/willettk/gzhubble/blob/master/python/filter_curves.py

[2016-05-15 18:02] willettk commented on #91
I take it back - I got the throughput from http://www.stsci.edu/hst/observatory/crds/SIfileInfo/pysynphottables/current_acs_throughput_html

[2016-05-15 19:44] bamford commented on #91
Yeah, on the linked page you can see the plot of the throughput dropping off with the ccd quantum efficiency. The synphot curves must separate out the two effects.

On 15 May 2016, at 18:53, Kyle Willett notifications@github.com wrote:

These should be the total throughput of the system -- ratio (fraction, really) of photons vs. photo-detected electrons on the CCD. The data I used for this are fro

[2016-05-15 21:21] #92 closed, assigned to nobody

[2016-05-15 21:21] willettk commented on #92
You are correct.

![filters_acs_sdss](https://cloud.githubusercontent.com/assets/2285931/15276829/9732f21a-1ab8-11e6-8af0-1f2a41d48082.png)

[2016-05-15 21:23] willettk commented on #83
Both @bamford and @vrooje already made some small changes to the abstract in the current draft, @karenlmasters. Can you take another quick look and see if you want to make more changes (totally welcome)? You can either submit a pull request or post the text here.

[2016-05-15 21:25] willettk commented on #69
He's welcome to be, although I wasn't sure of his participation level on the project so far. Haven't gotten any acknowledgment or comments from him yet.

[2016-05-15 22:15] willettk commented on #93
Let's go with **classifier**, except when explicitly thanking the volunteers for time/effort spent.

[2016-05-15 22:25] willettk commented on #87
I thought @Mel23 made that figure, but she should confirm that either way.

[2016-05-15 22:27] willettk commented on #85
Absolutely - good catch, @karenlmasters.

[2016-05-15 22:32] willettk commented on #84
@karenlmasters - if you'd like any discussion or it's a non-obvious change, issues are probably better so that anyone interested can participate. For many of the points above (especially if it's just things like wording or adding references), I'm happy for you to just submit a pull request.

[2016-05-15 22:33] willettk commented on #82
So strike Johnson et al. and cite Simmons et al. instead?

[2016-05-15 22:41] #80 closed, assigned to nobody

[2016-05-15 22:41] #85 closed, assigned to nobody

[2016-05-15 22:41] #93 closed, assigned to nobody

[2016-05-15 22:41] #97 closed, assigned to nobody

[2016-05-15 22:41] #101 closed, assigned to nobody

[2016-05-15 22:41] #102 closed, assigned to nobody

[2016-05-15 22:41] #103 closed, assigned to nobody

[2016-05-15 22:49] willettk commented on #86
Agreed - it's surprising how difficult it's been for me to find screenshots of the GZ1 interface at this point in time and many of the other projects. Even with the best of intentions on our part, there are lots of software failure modes that might leave a permalink inaccessible.

[2016-05-15 22:50] willettk commented on #79
It hadn't struck me as urgent, but it's something I think can be done. Will ask @Mel23 if she can add as a column, since she worked on assembling the redshifts initially.

[2016-05-16 00:08] vrooje commented on #82
I'll confirm that with Cliff when he's back in the office.

[2016-05-16 11:08] bamford commented on #98
We simply used the images from Roger Griffith's dataset, but I guess that the use of two bands was to be consistent with the other surveys, as you suggest.  In [Griffith et al. (2012)](http://adsabs.harvard.edu/abs/2012ApJS..200....9G) it acknowledges that four band data was available, but simply says:

[2016-05-16 11:34] bamford commented on #98
Found in an email from Roger:

[2016-05-16 11:37] bamford commented on #98
Oops, no ignore that, it was something about the COSMOS image creation.

[2016-05-16 12:43] bamford opened #104 "Section 2.3: image creation info"
Deciding on the image creation method and parameters was a bit of a battle.  I've been hunting through long email threads and it is hard to know the details of exactly what code Roger used.  When I looked into this previously I came up with:

I'm also fairly sure that Roger scaled the original count images by their exposure time, but I don't know exactly how.

All this means that it probably doesn

[2016-05-16 13:01] bamford commented on #54
This looks like a really nice comparison, and nice to demonstrate 'morphological k-correction' issue (although, as @vrooje says, disentangling this would be a bit tricky as each survey uses different filter sets).

:+1: for putting this in the paper.

How are you selecting galaxies for inclusion in the lower panels?  Relaxing this to give more galaxies might help appearance.

[2016-05-16 13:06] bamford commented on #104
OK, now see that a bigger reorganisation was proposed in #95, but hopefully this provides some useful / more correct text for that.

[2016-05-16 14:37] Mel23 commented on #79
@willettk - can you clarify slightly? Do you mean add a flag column to the metadata table?

[2016-05-16 14:38] willettk commented on #79
Yep.

On Mon, May 16, 2016 at 9:37 AM Melanie A. Galloway <
notifications@github.com> wrote:

[2016-05-16 16:37] Mel23 commented on #75
I could actually use some feedback on this. Our assumption was that showing every single bin in that plot might be a waste of space, even though we absolutely have to show some visual. The compromise was to show the full plot in less detail as an overview (ie subplots [a] and [c]) but to zoom in on one bin so the reader can get a close-up idea of the individual trends without the clutter ([b] and

[2016-05-16 16:45] willettk commented on #75
I think one aspect that would help would be reducing the amount of white space between the subplots; if the plots and labels are bigger, that'll help with legibility. You may be able to massage the various positions in the `subfigure` package; if not, then put it together in one big figure in Python (or some other image editing software) and put it in the draft as a single figure.

@chrislintott,

[2016-05-16 17:02] willettk opened #107 "Reorganize structure of Dropbox folder"
So that the data can be more easily shared, reorganize the Dropbox folders `ferengi_files` and `hubble_files`.
- [ ] remove versions that have been superseded (eg, `catalog_3_17*` vs `catalog_3_23*`)
- [ ] move anything not actively used by code or notebooks to a different subfolder
- [ ] check the Jupyter notebooks to make sure that they still point to the correct versions

[2016-05-16 17:07] willettk opened #108 "Changes from people who emailed annotations"
Cross-posting here to make sure they're read and incorporated into the working draft.
- [x] @RossHart https://www.dropbox.com/s/ta77lks0tjybfx8/gz_hubble_data_rosshart.pdf?dl=1
- [x] @ec2250 https://www.dropbox.com/s/wfa33yrrpja78qe/gz_hubble_data_edmondcheung.pdf?dl=1 (#118)
- [x] @chrislintott 2003eb1bf1502b186c89597d3e785776a0fd26f9
- [x] @BorisHauessler https://www.dropbox.com/s/b09jjz1v73v9e0

[2016-05-16 17:18] willettk commented on #54
For the panels on the bottom row:
- lower left (edge-on vs face-on disc): `N_{not clumpy} >= 20` and `f_{not clumpy} >= 0.3`
- lower center (spiral structure): `N_{not edge-on} >= 20` and `f_{not edge-on} >= 0.25`
- lower right (merger): `f_{star/artifact} < 0.1` and `N_{odd} >= 20`

The easiest way to include more galaxies is by relaxing the restriction on the number of votes, but I do want to ma

[2016-05-16 17:24] willettk opened #109 "Feedback from Carie Cardamone"
- [x] You mention Brooke’s paper in the intro - but not clear at that point why there is a difference with GZ CANDLES (might want to just add a phrase of the difference in the sample data / classifications and why it’s two separate papers not 1).
- [x] 3.1 - how much % wise was anonymous?  Is this minor, so don’t care that not weighted?
- [x] 3.2 - I’d remove ‘mistakenly’ from the description of t

[2016-05-16 17:26] willettk opened #110 "Feedback from Ross Hart"
- [x] After reading through the method section, I seem to be able to follow
  it, which is great. The only secion I would expand out a little bit is
  section 4.1- I'd try to make it realy explicit exactly what is going on
  at each stage, ie. how is the redshift data binned in SDSS --> how is it
  then binned in FERENGI... I know this might seem a bit long, but I think
  it would make it much eas

[2016-05-16 19:34] Mel23 commented on #87
Not me! This figure has been in the writeup since the repo was created (or since before I was added as a collaborator, anyway). Who would be best at tracking down the source? @karenlmasters ?

[2016-05-16 19:46] willettk commented on #87
It looks like @karenlmasters committed it back at the Taiwan workshop (7865fbe6fcf49312a36562f1fc85e0655ce35d74), so she should be able to speak to that. Tom does have a similar figure in an old version of his thesis chapter that I have, but it's of different galaxies:

![screen shot 2016-05-16 at 2 45 48 pm](https://cloud.githubusercontent.com/assets/2285931/15301744/eee5d59c-1b74-11e6-899f-0397e

[2016-05-16 19:55] vrooje commented on #87
I thought Edmond made those? No?

I have a vague recollection of trying to edit them to enlarge some of the
labels and being unsuccessful despite getting the images directly from
Edmond.

[2016-05-16 20:02] willettk commented on #87
Also a possibility - thanks, Brooke. I'll ask him directly.

[2016-05-16 20:26] willettk commented on #91
Re: @vrooje's original comments:
- is the plot of throughput acceptable? I can add a footnote for the sources of the curves, if we need.
- changing plot for deep GOODS-N and -S. good catch, thank you.
- shallow GOODS-N for our images does use F775W. Stated in Griffith+12, and I've looked at the raw FITS i-band images as well.

[2016-05-16 21:29] #99 closed, assigned to vrooje

[2016-05-16 21:36] #107 closed, assigned to Mel23

[2016-05-16 21:38] Mel23 commented on #76
I agree these are useful; however slightly more complicated than previous releases, as the FERENGI analysis showed that for the "NEI" sample, it is not possible to discern whether a low f_features value is indicative of a true elliptical vs a featured galaxy whose features have been washed out.

For those reasons I propose the following method of flagging:
- Flag "featured" if f_features > 0.23 fo

[2016-05-16 21:58] vrooje commented on #75
I just think this is too much on the same page. Recommend (b) and (d) be the only panels in Figure 9, and (a) and (c) each be their own figure on a full page.

[2016-05-16 21:58] vrooje commented on #75
(Such that the purpose of Figure 9 is to explain in detail what's to come in Figures 10 and 11)

[2016-05-16 22:00] vrooje commented on #100
closed by #113

[2016-05-16 22:00] #100 closed, assigned to vrooje

[2016-05-16 22:17] willettk commented on #89
#111 addresses Figure 1, but the text and table should be fixed now (24de2a3c19ba9f08f446ac194b523e8b03251ca4).

I tried listing the filters by RGB channel, but thought it was a confusing method of looking at the table. I can be talked out of that if others feel more strongly, though.

The point on faded & recolored images should still stay active, but I'll defer that to the larger Section 2 reorg

[2016-05-16 22:58] willettk commented on #87
@ec2250 (Edmond) confirms that he made the figure originally, so we're good with attribution.

[2016-05-16 22:58] #87 closed, assigned to Mel23

[2016-05-16 23:39] vrooje commented on #91
I think we should plot the ones on the original page - that is, if I download WFC/F850LP I get this:

![screen shot 2016-05-16 at 4 36 42 pm](https://cloud.githubusercontent.com/assets/2357126/15307086/b1f3c706-1b84-11e6-9ecb-88a207f019b6.jpg)

which looks right to me.

[2016-05-17 00:30] #96 closed, assigned to vrooje

[2016-05-17 05:21] #98 closed, assigned to vrooje

[2016-05-17 05:22] vrooje commented on #104
I think this is completely addressed by #115 - do reopen if I missed something though.

[2016-05-17 05:22] #104 closed, assigned to nobody

[2016-05-17 13:14] bamford commented on #91
I agree, current ones will probably confuse.

On 17 May 2016, at 00:39, Brooke Simmons notifications@github.com wrote:

I think we should plot the ones on the original page - that is, if I download WFC/F850LP I get this:

which looks right to me.

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub

[2016-05-17 13:18] bamford commented on #89
Yes, I realise (now) that I completely forgot to mention the faded and recoloured images! I'll wait until @vrooje and @willettk are done with sec. 2 and then can add something in if still required.

[2016-05-17 15:25] karenlmasters commented on #86
OK fine I'm convinced.

[2016-05-17 15:25] #86 closed, assigned to nobody

[2016-05-17 15:26] karenlmasters commented on #82
Is that more "didn't classify the central galaxy bias" than "distraction bias"?

[2016-05-17 15:27] karenlmasters commented on #87
OK sorry for the confusion. I was remembering the figure in Tom's thesis.

[2016-05-17 17:32] Mel23 commented on #79
Closed with #105

[2016-05-17 17:32] #79 closed, assigned to Mel23

[2016-05-17 17:44] Mel23 commented on #75
Thanks for that feedback Brooke. I feel that route makes sense but I'm worried it could feel like overkill, having that many large figured displaying ~ the same information. Tagging @karenlmasters and @chrislintott for their thoughts.

[2016-05-17 18:31] willettk commented on #91
Closed with #111.

[2016-05-17 18:31] #91 closed, assigned to nobody

[2016-05-17 18:36] vrooje commented on #82
I suspect we're dealing with a fuzzy definition here. I think of "distraction bias" as being from a category of distractions that cause misclassification, either by causing the classifier to miss something or by causing the classifier to classify the wrong thing. A direct comparison with AP is hard because that's discovery-based; but I saw 2 different kinds in the GZC paper. The first was the "cla

[2016-05-17 19:53] #83 closed, assigned to nobody

[2016-05-17 19:56] willettk commented on #84
@karenlmasters - the only point left above was for the publications page. I'm not sure why I feel a little reluctant to mention it - the paper citations do feel more permanent. If you think it's a need, though, I can add it back in.

[2016-05-17 20:27] vrooje commented on #89
👍  I'd been holding off on rearranging S2 because lots of people were still editing, but I'll get going on that now.

[2016-05-17 21:35] willettk commented on #68
Closed with #118.

[2016-05-17 21:35] #68 closed, assigned to willettk

[2016-05-17 21:58] willettk commented on #76
Closed with #119.

[2016-05-17 21:58] #76 closed, assigned to Mel23

[2016-05-17 23:07] vrooje commented on #95
Have ticked most of the boxes above pending #120 -- though I decided while writing that the COSMOS altered images didn't need its own subsection, just a paragraph in the image creation subsection.

[2016-05-17 23:08] vrooje commented on #73
I think this should be included in #120 but I haven't actually checked to see that my labels there are what's used throughout the paper, nor whether the usage is consistent in the paper.

[2016-05-18 00:23] #95 closed, assigned to vrooje

[2016-05-18 00:29] willettk commented on #89
A lot of this has been addressed in #120. @bamford, anything more you want to add?

[2016-05-18 00:36] vrooje commented on #82
Spoke to Cliff; he confirmed that they ended up punting discussion of distraction bias in the AP release paper because it turned out to be much more complicated than they'd initially thought. That is, it seemed as though the addition of simulated clusters increased the stochasticity in detection of real clusters, such that some were dramatically underclassified _and_ others were dramatically overc

[2016-05-18 00:56] willettk commented on #82
Very good to know (and a sign that I didn't read the AP paper closely enough). Will remove the reference.

[2016-05-18 01:01] willettk commented on #82
Closed with #122.

[2016-05-18 01:01] #82 closed, assigned to nobody

[2016-05-18 01:02] willettk commented on #73
Closed for the moment with #121 - will merit a final re-read and a note for anyone adding text to try and use the new labels.

[2016-05-18 01:02] #73 closed, assigned to chrislintott

[2016-05-18 16:24] rjsmethurst opened #123 "changes to figure 4"
I'd prefer to see the normalised histograms as opposed to a count - could we investigate what that looked like?

I'm also in favour of changing the lines to dashed/dotdash/long dash etc. along with changing the legend so that it's not the default matplotlib weird box histogram. Can we add our own hacked legend with plt.axhline and plt.text?

[2016-05-18 16:25] rjsmethurst opened #124 "comments on figure 6"
So in the text you mention that this exponential fitting is only done to galaxies with f_{features, z=0.3} > 0 - so what the hell is happening in the top right panel - it looks as if everything has been divided by almost zero or is it just the error bars are so huge it distracts? Could you comment on that panel in the caption because I think it's going to throw people off.

[2016-05-18 16:27] rjsmethurst commented on #75
Also a note to say that you refer to "f_features" throughout the text - yet the axes labels in Figure 9 are "p_features"

And why does it say "redshift" at the top of each of panels (a) and (c) - isn't it the f_features that's changing along the axes? Not redshift... it's slightly confusing!

[2016-05-18 16:30] rjsmethurst opened #125 "Add RA and Dec to main downloadable data table (e.g. Tables 5-11)"
Table 5 shows something similar to what you sent me via dropbox the other day and for some reason it doesn't contain RA and Dec? I had to cross match myself to the meta_catalog - it would be good to get RA and Dec (at least) provided in the main data tables - it's what people will be using to cross match with their catalogues after all (rather than the IDs). If they want further information (e.g.

[2016-05-18 16:33] rjsmethurst opened #126 "general feedback from Becky"
Three very small things:
- [x] Figure 9 is mentioned before Figure 8 so those should probably have their numbering switched
- [ ] In section 4.3 at the end of the paragraph on page 11 could we refer the reader to the top right panel of Figure 9 so they know where to look for high z and low mu?
- [x] In Section 6 would you mind adding a reference to Smethurst et al. (2015) and talk about using the

[2016-05-18 19:17] Mel23 commented on #53
Files are located on the column_descriptions branch in the gzhubble/column_descriptions folder. 3 items to resolve before closing this issue:

1) Should there be a description file for _every_ data table, even if they are identical? (Ie the columns in all the votes catalogs are identical except fake_agn.) It depends on if we want an easy link with matching filenames accompanied with each table.

2

[2016-05-18 19:45] karenlmasters commented on #124
Agreed that top panel (think you mean Fig 7) is confusing. If this is a random selection, could we just not show that one as an example? Or do we want to illustrate that this method doesn't work for all galaxies?

[2016-05-18 19:47] karenlmasters commented on #123
I like the counts - gives a visual sense of the different sizes of the samples. But I think normalized would be good too. I agree about the lines, but I'd put this as low priority to fix before submission.

[2016-05-18 19:50] karenlmasters commented on #110
For Section 6.1 on bars I think we can cite more of the results Tom presented in his thesis. Melanie has the latest version now. What we found was that once features are identified you will always see a bar - the discs fade first. Tom made a plot of f_bar(z) in the FERENGI sample and showed that it was completely flat - no evolution with redshift. I think that's important to mention. It's not publ

[2016-05-18 19:51] karenlmasters commented on #110
So basically I disagree that you'd want a cut on fbar that evolved with redshift, and I don't think we should even mention that as I think it will confuse people.

[2016-05-18 19:53] vrooje commented on #110
That plot in Tom's thesis was really good and I don't think it's anywhere else; eventually the thesis will be on ADS but I'm not sure what the procedure is for citing it before then?

Anyway, I agree.

[2016-05-18 19:53] karenlmasters commented on #84
I like it because it shows how many publications GZ has without needing to cite all of them (which at this point seems like over-kill). But if people feel strongly we shouldn't refer to websites I can live without it.

[2016-05-18 19:54] Mel23 commented on #125
Closed in Dropbox - thanks for the suggestion! I agree having those in both catalogs is useful.

[2016-05-18 19:54] #125 closed, assigned to Mel23

[2016-05-18 19:55] vrooje commented on #123
I agree that the counts provides good information too, though I also agree the simulated AGN are hard to spot. Could multiply that histogram by 10 and note that in the legend so you can see the details of it more clearly but don't lose the overall proportional information?

I think the lines should be adjusted as well just in case the referee is color blind.

[2016-05-18 19:56] karenlmasters opened #127 "Acronyms in Abstract"
Just a note that the journal may ask for all acronyms to be defined in the abstract. This will be messy with GEMS, AEGIS, COSMOS and GOODS, so the solution might be to not name then there, but just say that all public HST surveys are used.

[2016-05-18 19:59] karenlmasters opened #128 "Section 6.1"
- [x] In the section describing Cheung et al. (2015) I think we should point out that that work compared the bar fraction of AGN with galaxies without AGN at the same redshift. Because of that technique the impact of redshift bias was minimal, as the comparison and test sample were both at the same redshift. Edmond might like to correct me if I'm remembering that incorrectly.
- [x] Also the sectio

[2016-05-18 20:07] karenlmasters opened #129 "Introduction"
I absolutely love the current introduction. I think it's a fantastic overview and really well written. :)

Two minor things:
- [x] Can we cite Lahav et al. (1993) in the section on Expert morphology. While the paper is framed around machine learning/automated classification, I think it's relevent  to this section because it includes a direct comparison of 8 of the big expert classifiers alive at t

[2016-05-18 20:09] karenlmasters commented on #75
What about an Appendix with (a) and (c) in full, and an excerpt in the main text to explain what's in the figure. You could also split up Figure A5 in the sample way - but now all in the Appendix...

[2016-05-18 20:10] karenlmasters commented on #75
I do think (a very small number of) people will want to see all the fits, so we should include it at least in an Appendix, but perhaps not needed in the main body of the text?

[2016-05-18 20:11] karenlmasters commented on #75
(Not about this issue - but how do I search where I'm tagged? I get so many github notifications from this repository, I can't find the important ones... like this one...).

[2016-05-18 20:14] karenlmasters opened #130 "Streamline start of Section 6"
I found the first two paragraphs of Section 6 a bit wordy, and repetitive. I think that can be streamlined quite a bit.

[2016-05-18 20:14] Mel23 commented on #75
I was also thinking of having the full versions in the appendix, but having them in the main text does help to show very obviously what sim_z / mu ranges we're talking. Hard to decide what's best! Hoping we'll end up with some majority consensus here if enough people weigh in.

Regarding how to search for where one is tagged, I'm not sure! That'd be a good thing to know though..I'll see if I can f

[2016-05-18 20:16] karenlmasters commented on #128
Also the section on clumps starts with why clumps are interesting, but the section on bars does not. We should be consistent - either mention a few words about why bars are interesting, or remove the science from the clump section. I'm in favour of the former.

[2016-05-18 20:18] Mel23 commented on #75
@rjsmethurst  - I think you were just commenting on the old version; the new version labels are f's not p's!

Regarding the labels - I do agree it's confusing, but we did do our best to make it the least so! The 'redshift' label at the top is indicating that z_sim increases in each bin, while _within_ each bin, f_features increases to the right. In other words: for the full figure, the bottom and

[2016-05-18 20:20] karenlmasters opened #131 "Section 7"
We need to point out that a magnitude limited sample will be dominated by faint galaxies near the magnitude limit which are preferentially going to be hard to classify morphologically, and so will bias the morphological distribution to have more smooth galaxies.

Also only the most massive galaxies will be seen across the entire volume, which again biases to smooth galaxies (this time for physical

[2016-05-19 03:34] willettk commented on #124
@bamford made this version with many more galaxies (807dbfb4e7dc6192d373cfc079a6d90da3a9a741); I think the effect is clearer since it sorts by `p_frac` and `evol`. What do you think of replacing the version of Figure 7 with this (or maybe a slightly smaller version)?

![download](https://cloud.githubusercontent.com/assets/2285931/15381802/811e480c-1d48-11e6-9876-8f14dbc29833.png)

[2016-05-19 03:56] willettk commented on #123
Good points. I'd prefer to keep the actual counts vs. normalized; it'll look exactly the same, just with a different scale on the y-axis? Adding linestyles + a better histogram is a good idea, though.

Assigning to @rjsmethurst, since she has a good eye for this. Data file is here:

https://www.dropbox.com/s/l3803pfkrz66368/gz_hst_table.fits?dl=1

and the code to make the plot is in [classificatio

[2016-05-19 04:12] willettk commented on #110
Added some text in #132 - please chime in if you think we should add more. It's a short reference right now, so we may want more detail.

[2016-05-19 04:15] willettk commented on #127
gaaaaaaaah. You're very right, @karenlmasters. I just wish they wouldn't demand that.

I think I'm going to leave it for now because the abstract is more readable, and cross my fingers that the editor won't ask us. Will open back up later if necessary.

[2016-05-19 04:15] #127 closed, assigned to nobody

[2016-05-19 04:37] willettk commented on #129
That's very flattering - thanks, @karenlmasters. Significant help from Brooke and Steven on that, which vastly helps mask the fact I wrote the first draft in an hour.

I didn't find a reference for Lahav et al. (1993) - I'd guess you meant [Lahav et al. (1995)](https://ui.adsabs.harvard.edu/#abs/1995Sci...267..859L/abstract)?

[2016-05-19 04:44] willettk commented on #130
Agreed, thank you Karen.

[2016-05-19 04:47] willettk commented on #75
@karenlmasters - here's how to find issues that you're tagged in (got there by clicking on the "Filters" button on the top left of the Issues page).

https://github.com/willettk/gzhubble/issues?q=is%3Aopen+mentions%3Akarenlmasters

[2016-05-19 05:07] willettk commented on #126
Good suggestions, @rjsmethurst.

I can't seem to find the point where you suggested referencing Figure 9 in the current version of the draft (it's under rapid reconstruction). Can you point me to a line number (or give a couple sentences of context where you think this should go)?

[2016-05-19 05:12] #129 closed, assigned to nobody

[2016-05-19 05:12] #130 closed, assigned to nobody

[2016-05-19 05:29] willettk commented on #53
1. Yes, I think so. We can just copy and paste the file names, but I don't see any reason to not make it super clear and have one per table.
2. Metadata for GOODS 5-epoch was from most of the same sources you used for the remaining Legacy samples; I combined 3DHST, MUSYC, and the ACS-GC while matching on position in the larger mosaics.
3. If you can post a list of the fields you don't have measure

[2016-05-19 11:03] karenlmasters commented on #75
Thought about this a bit more overnight, and I think I agree with @Mel23 that the full figure does need to be in the main text to show the redshift, mu ranges. They must be bigger though - they're basically useless at this size - so I think this should be split into 3 figures. Also the one in the Appendix. Let's let the ref/editor figure out how to format things and/or see what they think about th

[2016-05-19 11:24] rjsmethurst commented on #123
@willettk Changes pushed to python file and figure - haven't pdflatex the tex file though so the pdf is not updated (just in case you'd made more changes to the tex file since)

[2016-05-19 11:29] rjsmethurst commented on #126
This is the paragraph I was talking about in the second point - it's now on p.12 of the draft:
"Figure 9 shows that the relationship between f_features,z and f_features,z=0.3 is not always single valued; hence, it is not appropriate to correct galaxies that lie in certain regions of surface brightness/redshift/f_features space. These regions tend to have low f_features values at high redshift, but

[2016-05-19 11:33] rjsmethurst commented on #124
I think the number you have in the original figure is better - but sorting by p_frac and evol does make it clearer. Still doesn't explain what was going on in the top panel of the original figure though...

[2016-05-19 13:45] bamford commented on #89
Section 2 is now really clear.

I just have a couple of minor points:
- [x] Sec 2.3.1: "Combining these parameters generated _15_ images with different simulated AGN for each host, in addition to the original galaxy image."
  ... but 6 \* 3 = 18, so why 15?
- [ ] Sec 2.3.2: "we include a sample of 288 galaxies with ~~at~~ redshifts"

[2016-05-19 15:49] Mel23 commented on #53
1. Great
2. I might need a little more assistance; the following columns are ones that don't appear to be described in any of the catalogs:

absolute_size
counters_feature
counters_smooth
counters_star
flux_radius1_I

The rest are self-explanatory, I think.
1. I e-mailed Roger, hopefully he can clear that up.

[2016-05-19 15:57] claudiascarlata opened #133 "Figure 12 comparison with existing morphology"
There are various things that are unclear in this section of the paper -- and that are worrying. (keep in mind that one of those people will be the referee of your paper).
- [x] do you use all GZH classifications? or only the debiassed ones?
- [x] do you use all redshifts? And magnitudes? We certainly say we believe our classifications at most to z=1. Also for ZEST: did you make the change I sugge

[2016-05-19 16:00] claudiascarlata opened #134 "Figure 11 and associated discussion"
I think this figure is misleading and the associated discussion is not very informative.
You do point out that the distribution of galaxy types depends on redshifts and magnitudes as well as how you define a classification in GZ. So what point are you trying to make with this figure?

Why instead don't we make a comparison of the distribution for COSMOS and everything else? COSMOS is the only fiel

[2016-05-19 16:07] claudiascarlata opened #135 "Figure 8 : debiassing"
My main issue with the paper is the debiassing. Specifically, the mismatch between the properties of the ferengi galaxies and the actual observed galaxies (Figure 8).
This implies that most of the parameter space covered by real galaxies is not sampled and therefore we cannot attempt a correction. Exaclty how many galaxies can we get reasonable classification for?

The small number of ferengi gala

[2016-05-19 16:12] claudiascarlata opened #136 "organization of the paper"
I think in the main body of the paper we should present the morphology of the main legacy fields: GEMS, AEGIS, COSMOS, GOODS(NS).
All the other datasets add only confusion (for example, in Figure 11 what do you include?) and are not being really used.
As we discussed yesterday, they have a place in the appendix. I think the fact that historically they were classified within GZH doesn't mean they b

[2016-05-19 16:13] willettk commented on #53
counters_feature, counters_smooth, and counters_star are just copies of t00_smooth_or_features_a00_smooth_count, *_features_or_disk_count, and *_star_or_artifact_count. They somehow got copied over from the subjects category; those should be removed.

absolute_size is the I-band Kron radius, converted into a projected physical size in kpc using the redshift and WMAP9 cosmology.

flux_radius1_I sho

[2016-05-19 16:20] karenlmasters commented on #135
It's just the case that the local Universe has limited galaxies with such high surface brightness as are found in the high redshift. This is a limitation, but I think this sample is close to the best we can do. That said I would do it differently if starting now. There's an entire Chapter in Tom's thesis discussing what a sample should look like to do this ideally.

[2016-05-19 16:40] willettk commented on #123
Excellent! My doctrine of _"thou shalt not submit the PDF"_ is totally working.

[2016-05-19 19:16] willettk commented on #124
I think @rjsmethurst is exactly right; it's trying to divide by zero and getting a crazy value for ζ as a result. You can see that f_features at z=0.3 was only 0.03 in the first place (a single vote), and everything afterwards was zero. We do exclude fits like this in evaluating our final calibration, limiting ζ to between -10 and 10. Ultimately, it doesn't affect our calibration - this is a very

[2016-05-19 19:27] willettk commented on #89
Good catch, Steven - there is no `l_rat = 2.0`, so only 5 levels at 15 total.

[2016-05-19 19:33] willettk commented on #135
Very valid points, and something we've gradually realized over the last year. I think I should cite Tom's thesis specifically detailing that; I think the text here will try to balance between endorsing our approach as hopefully reliable, but not perfect, while acknowledging what we can do to make it better.

[2016-05-19 19:35] #89 closed, assigned to nobody

[2016-05-19 19:35] #126 closed, assigned to nobody

[2016-05-19 19:36] willettk commented on #133
See parallel discussion in #78.

[2016-05-19 19:54] #74 closed, assigned to adammcmaster

[2016-05-19 19:59] vrooje commented on #124
I really like that plot; I agree that the sorting by `f_features` and `evo` (though we perhaps could use a better term for the latter) is much, much clearer.

We could probably do with this plot having ~10 original galaxies spread evenly among `f_features`, without worrying about surface brightness, unless there are cases where the `\mu` value really makes a huge difference (it doesn't look like i

[2016-05-19 19:59] willettk commented on #84
Not super strongly, but there's the lack of permanence and attribution (although it does mean people may complain about the specific papers I've chosen). I think I'm going to leave it for now.

[2016-05-19 19:59] #84 closed, assigned to nobody

[2016-05-19 20:15] bamford commented on #124
3) I think the suggested plot would work nicely. I will make it tomorrow.

2) "Randomly selected examples" is always "I kept randomly selecting until I got a nice set"

1) Dividing by nearly zero probably has something to do with it, but note that as zeta goes to high values the function simply becomes a horizontal line, so not badly behaved.

[2016-05-19 21:28] willettk commented on #75
Thanks for the excellent discussion on this. I don't think there's a strong overall consensus; @Mel23 and I have a compromise suggestion that I hope increases clarity.
- Make Figure 9a) full-size and standalone
- Make Figure 9d) full-size and standalone

We can then see the overall trends as a function of mu and SB, and the more complicated version will focus on a single box.

[2016-05-19 21:55] willettk commented on #71
Good reminders. I've tried to use consistent phrasing ("redshift bias", not "morphological bias") and emphasized at the beginning of the debiasing section that this is not unique to visual classifications or crowdsourcing.

[2016-05-19 21:57] #71 closed, assigned to willettk

[2016-05-20 11:56] bamford commented on #135
I don't understand this figure (which is Fig. 6 in the current version of the paper).

The y-axis label says mu_{max}.  Can you remind me what this is (I guess the SB at z=0.3)?  Is it correct to be comparing that with the _actual_ SB of the ACS sample galaxies?

The plot seems to indicate that the FERENGI galaxies cover higher surface brightnesses than the real galaxies.

[2016-05-20 13:13] bamford commented on #135
Looking at the data table, I see mu_max_i is different for each simulated galaxy.  Where does it come from?  I'm still confused, as in 4.1 it calls the SB (mu_r) an 'intrinsic' property, but that is only the case if it is the SB at some fixed redshift.

[2016-05-20 17:00] bamford opened #140 "Section 4"
- [x] SB confusion mentioned in #135; we need to be clearer what measure of SB we are talking about, and are we using the same measurement of SB for simulated and real galaxies?
- [x] 4.1: "is a function of the apparent size and brightness of the image as seen on screen" --> "is a function of the apparent size and brightness of the galaxy"
- [x] 4.1: "and the exponential function bounds the observ

[2016-05-20 17:03] bamford commented on #124
This is what I've got so far.  Basically the same plot, but with a few more panels, galaxies chosen to span the range of f_features,z=0.03 and ordered by f_features,z=0.03.
[zeta_examples.pdf](https://github.com/willettk/gzhubble/files/275059/zeta_examples.pdf)

[2016-05-20 17:05] #75 closed, assigned to Mel23

[2016-05-20 17:05] bamford commented on #140
Sorry the above points are a bit jumbled.  I'm digging through the code trying to work out how the debiasing is applied.  Maybe we should talk over some of the bigger issues via Skype or Slack next week.

[2016-05-20 17:07] willettk commented on #140
Thanks for the careful reads. I'll work hard on this over the weekend; earlier will be much preferred, since we're madly dashing to see if it can be submitted by next Friday. Please do keep posting stuff here!

[2016-05-20 17:14] willettk commented on #123
Closed with #141.

[2016-05-20 17:14] #123 closed, assigned to rjsmethurst

[2016-05-20 17:29] willettk commented on #124
Love it. Thank you, Steven!

On Fri, May 20, 2016 at 12:03 PM Steven Bamford notifications@github.com
wrote:

[2016-05-20 17:30] willettk commented on #124
Closed with 943b134fc6c36d4bc871ab061e0d76fa4ce8be70.

[2016-05-20 17:30] #124 closed, assigned to bamford

[2016-05-20 19:02] willettk commented on #53
Closed with #142.

[2016-05-20 19:02] #53 closed, assigned to Mel23

[2016-05-20 19:44] willettk commented on #108
Thanks, Boris - noted that bins didn't quite add up in the original version of Figure 12. See new version in 01c91d065c615c0fbd4abbcfd0b72e73473d97ea.

[2016-05-20 20:20] willettk commented on #77
OK. It ended up affecting very few galaxies:
- AEGIS: 23 galaxies (0.3%) with lenses or dust lanes removed
- GEMS: 19 galaxies (0.2%) with lenses or dust lanes removed
- GOODS: 18 galaxies (0.7%) with lenses or dust lanes removed
- COSMOS Cassata: 198 galaxies (0.3%) with lenses or dust lanes removed
- COSMOS Tasca: 199 galaxies (0.3%) with lenses or dust lanes removed
- COSMOS Scarlata: 204 galax

[2016-05-20 20:20] #77 closed, assigned to nobody

[2016-05-20 20:47] Mel23 commented on #140
The paper does state that the surface brightness measurements of the simulated galaxies was measured by SExtractor (again, a point which referencing Tom's thesis would be useful), and that the surface brightnesses for the real galaxies were from the AGS-GC catalog. While both were measured using I-band apparent mags, it's fair to say they aren't 100% apples-to-apples SBs.

I did catch some places

[2016-05-20 20:54] Mel23 commented on #135
Yes, yes it does. Which is lame! But what we have to deal with. Like Karen said, Tom's thesis addresses how this selection could be improved. For now it's what we have to work with.

Mentioned in Section 4, they're measured for each image using SExtractor. The differences arise because of that, plus the different evolutions for the same galaxies. Once I figure out the proper way, we'll want to cit

[2016-05-20 21:00] willettk commented on #81
I'll comment that I don't know how many anonymous GZ users there were; the SQL database I have lists 93,898 `zooniverse_users` with a `zooniverse_user_id`, but the corresponding `users` table (which has their login name, confirming that they exist) has only 2,735 entries, which is way too few. And every classification has a `zooniverse_user_id` that matches to the first table; but I don't know wha

[2016-05-20 21:00] #81 closed, assigned to nobody

[2016-05-20 21:16] willettk commented on #135
Tom's thesis is now added as a reference; just use \cite{mel16}.

[2016-05-20 21:16] bamford commented on #140
Sorry I'm being so slow to contribute. I'll continue to work through and chime in over the next few days. Seems like it is rapidly coming together though, so hope you make your Friday target @willettk.

Thanks for all the detail response @Mel23!

What I mean about being careful about the surface brightness, is that it could be central SB (max?), empirical or model based; SB within the half-light r

[2016-05-20 21:36] willettk commented on #134
Agreed, but moving into #94.

[2016-05-20 21:36] #134 closed, assigned to nobody

[2016-05-20 22:17] willettk opened #143 "Redo FERENGI on AEGIS only with Lotz+08 brightness"

[2016-05-20 22:17] willettk opened #144 "Plot the normalized SB distribution function split by survey"
Out to redshift 1.

[2016-05-20 22:34] Mel23 commented on #140
Thank you for clearing that up! And yes this is an extremely important point - we brought this up today in discussion at MN and are exploring this issue in depth; will report with results asap.

[2016-05-23 02:07] willettk commented on #70
Closed with #145.

[2016-05-23 02:07] #70 closed, assigned to nobody

[2016-05-23 02:11] willettk commented on #110
Closed with a couple different changes, but see #132, #145. Thanks, Ross.

[2016-05-23 02:11] #110 closed, assigned to willettk

[2016-05-23 02:13] willettk commented on #128
Can I ask you for a couple sentences on why bars are interesting, @karenlmasters? I'll put it into the manuscript if you do - I agree that we should motivate bar science rather than drop clumpy science.

[2016-05-23 15:15] willettk commented on #109
Leaving the remaining issues for now.

[2016-05-23 15:15] #109 closed, assigned to willettk

[2016-05-23 15:47] willettk commented on #108
Very much appreciate @RossHart's calling out my overuse of semicolons.

[2016-05-23 21:00] willettk opened #146 "Reduce plotting range on Figure 7"
Way too large in the y-axis direction. Hold off until we decide if/when to use new surface brightnesses, though.

[2016-05-23 21:18] willettk commented on #133
Also: redo all matches with the same radius of 0.5".

[2016-05-23 21:21] #108 closed, assigned to nobody

[2016-05-23 23:03] willettk commented on #144
For @claudiascarlata: here's the distribution of surface brightnesses for the red bands (775, 814, or 850) split by survey and at z < 1. This is the original method of measuring surface brightness (mean value within R_e) from the Griffith et al. (2012) catalog.

The distributions are statistically indistinguishable; the p-value for a two-sided KS test is p < 1e-3 for any combination of pairs.

Ple

[2016-05-23 23:11] #140 closed, assigned to Mel23

[2016-05-24 16:51] bamford commented on #81
The database dump I used for the final GZ:HST data tables is:
https://s3.amazonaws.com/zooniverse-code/databases/011112/hubble_011112.sql.gz
although I no longer have access to the Zooniverse AWS account and the public link has expired (cc @chrislintott). Someone with Zooniverse AWS keys should be able to get the file.  It would be good to put it somewhere obvious.  Copies of the raw GZ1 and GZ2 d

[2016-05-24 16:58] bamford commented on #6
I think this is addressed in #124

[2016-05-24 16:58] #6 closed, assigned to nobody

[2016-05-24 17:20] willettk commented on #81
That's extremely useful, Steven - Chris and I talked more this week about
creating a consistent archive of all the various GZ data that's accessible
to everyone. The raw classifications from GZ, GZ2, and GZH should all be a
key part of that.

I looked in the directory you mentioned to check if it matches mine; 011112
doesn't currently exist on the zooniverse-code bucket. There is 011012,
which has

[2016-05-24 19:15] vrooje commented on #81
If the file hasn't been accessed in a while it will have been archived to
glacier and will need retrieving before it can be downloaded. You might be
able to do it from the web interface... Or possibly @astopy has to; not
sure.

[2016-05-25 17:02] willettk commented on #133
I'll put a version of this into the main draft, but I've redone the comparisons now with volume-limited samples instead of throwing everything in there (which should be much fairer).

Here are the original comparisons with no cuts of any kind:

![comparisons](https://cloud.githubusercontent.com/assets/2285931/15520952/95d60796-21ce-11e6-97f7-a4e34a9f3096.png)

Here are the comparisons using only v

[2016-05-25 18:27] willettk commented on #143
Subsumed into larger discussion of surface brightnesses and debiasing.

[2016-05-25 18:27] #143 closed, assigned to nobody

[2016-05-26 00:28] #133 closed, assigned to nobody

[2016-05-26 00:29] willettk commented on #131
Closed with #147.

[2016-05-26 00:30] willettk commented on #144
Addressed internally; will let Claudia re-open if this needs to make it into the text.

[2016-05-26 00:30] #144 closed, assigned to willettk

[2016-05-26 00:30] #131 closed, assigned to nobody

[2016-05-26 00:30] willettk commented on #78
Closed with #147.

[2016-05-26 00:30] #78 closed, assigned to willettk

[2016-05-26 15:57] willettk opened #148 "No weighted vote fractions for GOODS-full depth data in tables"
This is because we don't have weighting implemented for checkbox questions in the GZ4 setup.

Must:
- [x] copy the raw to weighted vote fractions for T08 in all tables (old and new SB versions)
- [x] modify the table description tables to note this

[2016-05-26 20:36] #148 closed, assigned to Mel23

[2016-05-26 23:37] willettk commented on #146
Closed with 5965cc2c5e36b0a49f1f08c658b9c883971456dd.

[2016-05-26 23:37] #146 closed, assigned to Mel23

[2016-05-26 23:39] willettk opened #153 "Add text describing SB measurements and parameters"

[2016-05-26 23:40] willettk opened #154 "Update the example tables in text with new p_best values"
Done as a final step, when we're absolutely sure of SB technique.

[2016-05-26 23:41] #94 closed, assigned to willettk

[2016-05-27 20:26] karenlmasters commented on #54
I agree with other comments that this would be a good addition. It's reassuring they agree so well given the different wavelength ranges they cover.

Any chance to look at bars? Not essential for this draft, I'm just curious to see how it looks. Or was that already in @vrooje paper?

[2016-05-27 23:12] #153 closed, assigned to nobody

[2016-05-27 23:17] willettk opened #158 "FIx Figure 12"
New values and a volume-limited COSMOS sample.

[2016-05-27 23:17] willettk opened #159 "Update Figures and Tables 2-3 in Appendix"
New SB values change these slightly.

[2016-05-27 23:18] willettk opened #160 "Redefine "no correction needed" to include limit on mu?"

[2016-05-27 23:19] #135 closed, assigned to nobody

[2016-05-28 03:43] vrooje commented on #54
Nope, I didn't look solely at bars; I think that would be really interesting.

[2016-05-28 15:23] karenlmasters commented on #128
Hows this? All of these references in Tom's bar paper I think (except Simmons et al. which was obviously published after that):

"Bars in disc galaxies are a trace of the dynamic state of the disc of a galaxy (e.g. Combes 2009, Athanassoula 2012). Discs which have significant vertical motions typically do not form bars (with the exception of tidally trigger bars, Barnes & Hernquist 1991), but once

[2016-05-28 15:25] karenlmasters opened #162 "Are 3 sig fig warranted on the comsological parameters?"
We quote: (Ωm, ΩΛ, h) = (0.282, 0.718, 0.697) for cosmology parameters. This seems like too many sig fig to me....

[2016-05-28 18:15] #162 closed, assigned to nobody

[2016-05-28 18:15] willettk commented on #162
It's close to the uncertainties in Table 4 of Hinshaw et al. (2013), depending on which parameter we're looking at. They formally quote:

Ωb = 0.04628 ± 0.00093
Ωc = 0.2402 + 0.0088−0.0087
ΩΛ = 0.7135+0.0095
H0 = 69.32 ± 0.80

So while I actually do need to adjust these (thanks, Karen - I think I used WMAP9 only vs. WMAP9 + all external data), we should be at the same level of precision or less, a

[2016-05-28 18:29] #128 closed, assigned to nobody

[2016-05-28 18:32] willettk commented on #128
That was excellent. Thanks, Karen.

[2016-05-28 18:34] willettk commented on #54
Agreed on the interesting part; I will probably vote to push that to a later, bar-focused paper just in the interests of time constraints.

[2016-05-28 19:21] lfortson opened #163 "correct left margin for figure 8"
currently the y-axis label is cut off at the margin

[2016-05-28 19:33] lfortson commented on #163
ok, fixed the bounding box in the pdf file

[2016-05-28 19:33] #163 closed, assigned to nobody

[2016-05-28 23:44] lfortson opened #164 "table 3 caption"
The caption says: "Correctable fractions for the top-level..."   but the values in the tables are numbers and not fractions.  Either add the fractions to the table (preferred) or correct the caption to:
"Number of correctable galaxies for the top-level..."

[2016-05-28 23:51] lfortson opened #165 "tables 4, 6 & 10"
Table 4 is cutoff at the right margin.  This is also true of table 6 & 10.

[2016-05-29 00:42] lfortson opened #166 "position of table A1"
Table A1 is currently at the top of the page with the last of the references interrupting the flow for the references. Can this be forced to be below the end of the references?

[2016-05-29 01:00] willettk commented on #166
Probably, but I think we need to submit this in manuscript single-column mode to the journal, which will change the placement of almost everything.

[2016-05-29 01:08] lfortson opened #167 "Figure A2"
needs to incorporate information in the caption to identify what (a), (b) and (c) are.

[2016-05-29 01:37] #166 closed, assigned to nobody

[2016-05-29 01:50] #164 closed, assigned to nobody

[2016-05-29 01:50] #167 closed, assigned to nobody

[2016-05-29 01:56] willettk commented on #165
True. Rotating doesn't make them look much better; I wanted to make all of the columns for `t01_*` visible, though, which makes it run over a bit. They'll correct that for the proofs, but I wanted to make it clear for a referee.

[2016-05-29 22:14] willettk opened #169 "Final comments from KLM and Figure 14"
Comments from @karenlmasters:
- [x] The one I want considered definitely before submission, is that I think Fig 14 and the section which describes it might be unnecessary, and I think I am in favour of them being removed in the interests of keeping a simple story. In that location I’d like us to discuss how/when our morphologies are better than the automated methods/single visual classifier at the

[2016-05-29 23:05] willettk opened #170 "What are the formal errors on zeta_0, zeta_1?"
Correctly pointed out by @karenlmasters, this should be given in Section 4.1.

[2016-05-29 23:28] #69 closed, assigned to willettk

[2016-05-29 23:28] willettk opened #171 "Spell check."
Use `aspell` before submission.

[2016-05-29 23:48] willettk commented on #169
Thanks, Karen. Regarding the points I haven't changed:
- I'll have to repeat the curves for Figure 7 ( @bamford actually made that plot) to get the specific galaxies. Figure 2 is supposed to be a reasonable representation of what happens in these galaxies and how f_features drops off. Do you think we need to show more than two examples?
- The comparison at the end of 4.2 was added at the suggestio

[2016-05-29 23:58] #169 closed, assigned to willettk

[2016-05-30 00:04] #171 closed, assigned to willettk

[2016-05-30 13:39] chrislintott commented on #54
Bars in this sample would make a very interesting follow-up...

[2016-05-31 03:34] #158 closed, assigned to willettk

[2016-05-31 15:55] willettk commented on #136
Closed with 3a4191f6a5d33fb435e8bdb4853a89276f0a14ce.

[2016-05-31 15:55] #136 closed, assigned to willettk

[2016-05-31 15:56] willettk commented on #165
Closed with 3a4191f6a5d33fb435e8bdb4853a89276f0a14ce.

[2016-05-31 15:56] #165 closed, assigned to nobody

[2016-05-31 16:12] willettk commented on #154
Possible suggestion: script this.

[2016-05-31 16:47] willettk opened #174 "Final versions of full tables for data.galaxyzoo.org"
Finalizing the data that will go on data.galaxyzoo.org; first for the referee/editor (if desired), and later for the general public. FITS tables for all.
- [x] final debiased morphology tables (including simulated_agn) all in the same folder, consistently named
- [x] add MAG_BEST_HI to morphology tables
- [x] reorganize column order
- [x] add and rename GZ_MU_HI to meta tables
- [x] make metadata

[2016-05-31 16:59] willettk commented on #54
Just a note: I know this didn't make it into the initial submission, but if the referee asks for any more detail on GZH vs. GZC, I'd be in favor (sorry @chrislintott, "in favour") of adding the figure above and another paragraph or so into the manuscript.

[2016-05-31 19:06] Mel23 commented on #174
@willettk:

Tables should all be final versions now. In Dropbox we have:

in hubble_files/catalog_debiasing_files/new_sb_method:

1) catalog_5_27_2016_faded.fits
2) catalog_5_27_2016_fake_agn.fits
3) catalog_5_27_2016_ferengi.fits
4) catalog_5_27_2016_goods_shallow.fits
5) catalog_5_27_2016_hubble.fits
6) catalog_5_27_2016_recoloured.fits
7) catalog_5_27_2016_sdss_coadd.fits
8) catalog_5_27_2016_s

[2016-06-01 09:41] adammcmaster commented on #81
Let me know if you still need that database dump. It contains user email addresses, passwords, etc. so I'll need to clean it up first.

[2016-06-01 10:27] bamford commented on #81
Yes, we still need it to go somewhere with the GZ1 & 2 databases for posterity.  They also contain user info, so are not for distribution.  If you do decide to remove sensitive information, please ensure user ids are definitely not affected, so we can make use the full history of the classifications (e.g. for training ML algorithms, studying behaviour, etc. in future).  However, that is something

[2016-06-01 20:13] Mel23 commented on #170
Closed with e0dd8e4ee96728de1e2b8637d16c9cd77a1ca2d2

[2016-06-01 20:40] Mel23 commented on #170
Re-parameterize zeta to account for actual surface brightness range, such that the intercept of zeta is not at mu =0. Something like log10(ζˆ) = (ζ0 - 20) + (ζ1 × μ).

[2016-06-16 17:49] Mel23 opened #175 "Referee Report: MAJOR COMMENT I: Reorganization of Section 4"
I personally completely agree with this comment, and shouldn't be too difficult to change. I'll revise this after we have settled on what changes, if any, we will implement to the zeta method.

[2016-06-16 17:54] Mel23 opened #176 "Referee Report: MAJOR COMMENT II: Statistical Model"

[2016-06-16 18:03] Mel23 commented on #176
Addressing this comment is going to be the biggest challenge. My initial thoughts:

It is not too challenging to implement a different zeta model into the debiasing process. Before tackling that, though, I think we really need to address the issue of testing whether or not the corrections "are good." Kyle and I explored this a fair bit when attempting to statistically/quantitatively evaluate the e

[2016-06-16 18:07] Mel23 opened #177 "Referee Report: MINOR COMMENT 1"

[2016-06-16 18:08] Mel23 opened #178 "Referee Report: MINOR COMMENT 2"

[2016-06-16 18:08] Mel23 opened #179 "Referee Report: MINOR COMMENT 3"

[2016-06-16 18:10] Mel23 opened #180 "Referee Report: MINOR COMMENT 4"
Related to #176.

[2016-06-16 18:10] Mel23 opened #181 "Referee Report: MINOR COMMENT 5"

[2016-06-16 18:10] Mel23 opened #182 "Referee Report: MINOR COMMENT 6"

[2016-06-16 18:11] Mel23 opened #183 "Referee Report: MINOR COMMENT 7"

[2016-06-16 18:12] Mel23 opened #184 "Referee Report: MINOR COMMENT 8"

[2016-06-16 18:15] Mel23 opened #185 "Referee Report: MINOR COMMENT 9"

[2016-06-16 18:15] Mel23 opened #186 "Referee Report: MINOR COMMENT 11"

[2016-07-27 17:27] lfortson opened #187 "debias as a function of redshift"
Based on further conversations between Claudia, Chris and Lucy, on a plot that Mel generated showing the f_features distribution for four different redshift bands (below), we think it is important that the paper more clearly points out that this will curtail the ability for any user to do population studies with the debiased galaxies within a redshift band as well as any evolutionary studies acros

[2016-08-10 13:48] karenlmasters commented on #187
I think this is a good point, however we should point out that as long as the users make use of thresholds which lump all things with uncorrectable f_features at all redshifts together (ie. ffeatures<0.7 if want to use up to z~1) this can still be used to do evolutionary studies.

The reason these look so different is the fact that the threshold for uncorrectable galaxies moves ot higher ffeatures

[2016-08-10 13:55] karenlmasters commented on #177
What else could we do? We have no information to create a consistency for the anonymous users if we treat them each as separate entities. I suppose we could have calculated a consistency for all anonymous users together, but that also seems quite artificial as they are clearly not all the same person. If it is still true that the majority of users have weight=1 I think this is a good point to make

[2016-08-10 14:02] karenlmasters commented on #178
Something like: "The FERENGI sample is biased to lower surface brightness than the real data, simply because the local Universe does not include galaxies which are as high surface brightness as are found at high redshift. We get around this partially by applying the evolutionary correction described in Section 2.3.2, but this still results in a sample which only spans, not reproduces the surface

[2016-08-10 14:03] karenlmasters commented on #178
(this feels like a conversation that Tom and I had over and over again with his examiners, and I feel a minor case of PTSD even thinking about it!) ;)

[2016-08-10 14:05] karenlmasters commented on #184
Was this so we could do p<0.2, p<0.5, p>0.5 and p>0.8 which are the typical thresholds used in previous GZ publications?

[2016-08-10 14:07] karenlmasters opened #188 "Final paragraph from referee."
Just wanted to comment how much I enjoyed this final paragraph:

"Given the comments above, one could surmise that I only really read Section 4.
But no: the authors are experts on Galaxy Zoo, galaxy morphology, and data
preparation, etc., and this shows throughout the rest of the text, which I
read and with which I have no issues (aside from minor comments 1 and 11
above). I look forward to their

[2016-08-10 14:34] Mel23 commented on #187
This was my thought as well - any study should make use of both the correctable and uncorrectable samples, with the grain of salt that the uncorrectable f_features _are_ upper limits estimates. I think the concern from Lucy was that the casual reader might jump to the conclusion that they should only be using the correctable sample in studies, unless it is made very obvious not to just do that.

[2016-08-10 14:36] Mel23 commented on #184
Yes - this explanation apparently slipped me and Kyle's minds as we wrote the first draft.

[2016-08-10 17:19] willettk commented on #188
Me too. :) Gives you hope for the whole single-referee peer review system
of astronomy, if we get more thoughtful reports like this.

On Wed, Aug 10, 2016 at 10:07 AM karenlmasters notifications@github.com
wrote:

[2016-08-10 17:27] willettk commented on #177
There are a few things I could think of: a parallel justification would be
to look at anonymous classifications from GZ1 or GZ2, for example, and
assess their average accuracy wrt automated algorithms (like Sander
Dieleman's). We could also calculate a total consistency as Karen
suggested, but she's quite right pointing out that it's not the same person
and that isn't going to be a useful predicto

[2016-08-10 17:41] vrooje commented on #177
We sort of did what Karen suggested in Pulsar Hunters... due to a bug in the way IPs were reported for that project, the anonymous users were initially grouped together into a handful of "users" with tens of thousands of classifications each (in 24 hours). One of the groups had the top consistency score for any user, and the others were similarly high. That's suggestive that on average people are

[2016-08-10 17:41] #188 closed, assigned to nobody

[2016-08-10 17:59] willettk commented on #185
That's a very reasonable point. What about moving to the interquartile range (IQR) and taking the inner 50% instead?

[2016-08-10 18:01] willettk commented on #177
Thanks, Brooke - that's very useful. I think I'll include the anecdotes on
PH and GZC in a response to the referee. If they press for more detail,
then we can try to dig up plots and actual data later on.

On Wed, Aug 10, 2016 at 1:41 PM Brooke Simmons notifications@github.com
wrote:

[2016-08-10 18:59] willettk opened #189 "Check the errors on f_gal_norm in notebook 2"
In Cell 32, check whether the error on the normalization is correctly computed. Should be a standard propagation of errors on the function.

[2016-08-10 19:05] #181 closed, assigned to nobody

[2016-08-10 19:05] #184 closed, assigned to nobody

[2016-08-11 00:39] vrooje commented on #185
Or 68% as that's sorta-kinda-not-really-but-we-still-pretend-it-is 1 sigma?

[2016-08-11 00:41] vrooje commented on #54
The referee didn't ask about this, right?

[2016-08-11 01:45] vrooje commented on #177
I was curious. In CANDELS:

Distribution of user classification count for logged-in and not-logged-in users.
![user_nclass_logged_in_anon](https://cloud.githubusercontent.com/assets/2357126/17576649/cfc3e034-5f29-11e6-9246-0c312b6b7d6b.png)

Note there's some overlap here, in that if we did a full IP address/classification-time analysis we'd find some fraction of the not-logged-in classifications

[2016-08-11 11:37] karenlmasters commented on #185
I agree with either Kyle or Brooke's suggestions. Just make this change to something more typically used - I presume it'll be quick.

[2016-08-11 14:38] Mel23 commented on #54
Correct.

[2016-08-11 20:42] willettk commented on #185
The code wouldn't be difficult to change, but it is one of the things that
ultimately controls parameters in the catalog. So I want to make sure
everything else is set before Melanie runs the pipeline again to make the
final versions of the data, since that's a moderate amount of work.

On Thu, Aug 11, 2016 at 7:37 AM karenlmasters notifications@github.com
wrote:

[2016-08-12 00:07] vrooje commented on #54
Do we still want to add it? Seems like it's opening us up to another round of refereeing, but it is potentially useful information.

[2016-08-12 08:33] karenlmasters commented on #54
Second paper? I think including it if not asked to by the referee is dangerous, and this could be a nice short paper on morphological k-correction on its own....

[2016-08-16 16:09] willettk commented on #54
I think I'll vote for pausing it for now, since I think we really need to
focus on addressing what the referee did ask about. But I very much don't
want it to be lost, given the interesting results and effort that @vrooje
and others have put in. +1 if anyone wants to make it a short paper of
their own (or maybe a useful graphic for when we give talks).

On Fri, Aug 12, 2016 at 4:33 AM karenlmaster

[2016-08-22 17:03] Mel23 commented on #189
Did the math; everything checks out. No change necessary.

[2016-08-22 17:03] #189 closed, assigned to willettk

[2016-09-01 16:03] ccardamone commented on #177
What % of users end up being anonymous?  The figures seem to show a larger # than I'd imagined.

[2016-09-01 21:07] vrooje commented on #177
GZ CANDELS had 41,552 registered classifiers and 53,714 non-logged-in IP addresses (those are the figures above). Some of the latter will be from people who did a few non-logged-in classifications before logging in, which is one reason it's hard to count anonymous users, but I'd say 50-50 or thereabouts is pretty normal across Zooniverse projects that don't require a login.

[2016-09-06 13:45] #186 closed, assigned to nobody

[2016-09-06 19:09] willettk commented on #182
Add to the referee response only when @Mel23 runs the final data.

[2016-09-06 19:25] Mel23 opened #192 "New version of Figure 10 with new normalizaion"
A version of figure 10 to be made using the new normalization

[2016-09-07 20:33] #177 closed, assigned to nobody

[2016-09-07 20:33] #178 closed, assigned to nobody

[2016-09-07 20:33] #179 closed, assigned to nobody

[2016-09-07 20:33] #180 closed, assigned to nobody

[2016-09-07 20:33] #183 closed, assigned to Mel23

[2016-09-07 21:30] willettk commented on #124
Hi Steven,

This figure you made for the last submitted draft was deemed universally
great. We had a couple tweaks we wanted to make to it based on the slightly
different normalization we now have. If you still have the code used to
make this plot, could you send it to me or post in the repo? Mel and I can
make the final version, but it'd be much easier if we could go off your
existing code.
- man

[2016-09-08 09:35] bamford commented on #124
@kyle and @Mel23, the code is [here](https://github.com/bamford/gzhubble/blob/zeta_examples/python/fzeta_examples.py).

[2016-09-08 15:06] willettk commented on #124
Brilliant. Thanks, @bamford.

On Thu, Sep 8, 2016 at 5:35 AM Steven Bamford notifications@github.com
wrote:

[2016-09-08 15:07] willettk commented on #192
Was this addressed with #195, @Mel23 ?

[2016-09-08 15:11] Mel23 commented on #192
Unless I couldn't find it, I only saw the old script uploaded, not a new figure (the script was still using the old normalization). I updated and ran the code with the new normalization and created an updated figure. Relevant pull request with both was just submitted for branch zeta_examples_figure.

[2016-09-08 19:38] willettk commented on #192
Closed with #196.

[2016-09-08 19:38] #192 closed, assigned to willettk

[2016-09-08 19:43] willettk commented on #175
Closed with #194 and 6ce701cecebff09d5488540a5823130ef8069eea.

[2016-09-08 19:44] #175 closed, assigned to Mel23

[2016-09-08 19:44] willettk commented on #176
Closed by #193, #194, #195.

[2016-09-08 19:44] #176 closed, assigned to nobody

[2016-09-08 19:47] willettk commented on #185
@Mel23 - has Figure 8 been changed in the master branch to show the 1-sigma limits? If so, can you adjust the caption and then close this issue?

[2016-09-09 17:20] willettk commented on #182
Closed with #198.

[2016-09-09 17:20] #182 closed, assigned to Mel23

[2016-09-09 17:21] #185 closed, assigned to nobody

[2016-09-09 20:11] #187 closed, assigned to nobody

[2016-09-17 14:54] #154 closed, assigned to Mel23

[2016-09-17 14:54] #159 closed, assigned to Mel23

[2016-09-30 18:32] Mel23 opened #202 "Paper Acceptance Minor Comment 1"
1) "In each surface brightness and redshift bin, the relationship between
f_features,z and f_features,z=0.3 is modelled by fitting the data with
polynomials of degrees n = 3, 2, and 1, and using the best formal fit out
of the three as measured by the sum of residuals."

A tad more detail would help the reader here. The authors, in their response,
discuss their use of AIC as a criterion for model s

[2016-09-30 18:32] Mel23 opened #203 "Paper Acceptance Minor Comment 2"
2) "[R]egions of the bins with a slope of less than 0.4 are considered
_not_ one-to-one,"

The authors may be doing themselves a disservice here by applying an ad hoc
boundary; if one placed a confidence band on the function,
one could adopt the criterion that the slope simply has to be statistically
significantly different from zero. This is more for the authors to think
about; I'm not asking the

[2016-09-30 18:32] Mel23 opened #204 "Paper Acceptance Minor Comment 3"
3) Figure 9: "Galaxies in this plot were randomly selected from a distribution
with e = 0 and at least three detectable images in redshift bins of z >= 0.3,
and are sorted by f_features,z=0.3."

I cannot quite follow what is being done, which greatly affects my ability
to interpret the figure. I also note that e is not defined (unless I missed
it in the text). Some rewording and some additional wo

[2016-09-30 18:32] Mel23 opened #205 "Paper Acceptance Minor Comment 4"
4) Figure 9: plot titles include "f_0"

What exactly is "f_0"? When the rewording asked for in point (3) is done,
this should be defined.

[2016-09-30 18:33] Mel23 opened #206 "Paper Acceptance Minor Comment 5"
5) "Only nine galaxies that were strongly boosted (f_features < 0.25 and
f_features,best > 0.50)."

Unless I'm misinterpreting things, there are still some places where the
subscripting needs to be cleaned up (not just here). For instance, here,
by f_features,best, do the authors mean f_features,debiased?

[2016-09-30 18:34] Mel23 commented on #202
In this case what is in the text is true - we used the AIC to compare different models for zeta - for the polynomials, we were simply picking the best fit of polynomials of n=3,2, and 1, which was determined simply by the sum of the residuals. I don't see this needing to be explained further in the text.

[2016-09-30 18:37] Mel23 commented on #203
This is a good suggestion, but as the referee stated, not something worth changing in this manuscript.

[2016-09-30 19:02] Mel23 commented on #206
In this case f_features,best and f_features,debiased are equivalent, but changing to f_features,debiased may be more clear in this example.

[2016-09-30 21:10] #205 closed, assigned to nobody

[2016-09-30 21:10] willettk commented on #204
Partially addressed with #207.

[2016-09-30 21:18] willettk commented on #202
Agreed - I think this was mild confusion on the part of this referee, but I don't see it as necessarily being the same for all readers.

[2016-09-30 21:19] #202 closed, assigned to nobody

[2016-09-30 21:29] willettk commented on #203
Yeah - I don't think there's need to put any detailed changes, but I'll put in a word or two emphasizing that the slope threshold is a fairly loose and manually selected boundary.

[2016-09-30 21:42] willettk commented on #206
Agreed; we've done pretty thorough evaluations of all the abbrevs, but I'll change this one example.

[2016-09-30 23:00] #203 closed, assigned to nobody

[2016-09-30 23:00] #204 closed, assigned to nobody

[2016-09-30 23:00] #206 closed, assigned to nobody

[2016-10-14 18:07] willettk commented on #174
Tables are on data.galaxyzoo.org. See https://github.com/zooniverse/data.galaxyzoo.org/pull/31.

[2016-10-14 18:07] #174 closed, assigned to willettk, Mel23